//sass style
@import "../../../common/app-common-2";
$baseFontSize: 100px !default;

@function pxToRem($px) {
    @return $px / $baseFontSize * 1rem;
}

$yellow : #ffed21;
$yellow-gray : #f6c91e;
$white : #fff;
$gray : #862206;

body {
	background-color: #e92d24;
	font-size: pxToRem(14px);
}
.m-page {
	margin: 0 auto;
	position: relative;
	width: 100%;
	min-height: 100%;
	max-width: 640px;
	min-width: 320px;
	color: #fff;
	background: url(../images/bg_banner.jpg) no-repeat center 0;
	background-size: 100% auto;
}

.content {
	padding: pxToRem(298px) pxToRem(10px) pxToRem(30px);
}

.btn-box {
	position: relative;
	text-align: center;
	height: pxToRem(64px);

	.btn {
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: pxToRem(-135px);
		display: block;
		width: pxToRem(270px);
		height: pxToRem(44px);
		border-radius: pxToRem(5px);
		font-size: pxToRem(20px);
		font-weight: 700;
		line-height: pxToRem(44px);
		background: #fffc43;
		text-align: center;
		color: #ad1f18;
 		-webkit-appearance: none;
		-webkit-box-shadow: 0 4px 1px #aa2e0d;
		-moz-box-shadow: 0 4px 1px #aa2e0d;
		-o-box-shadow: 0 4px 1px #aa2e0d;
		box-shadow: 0 4px 1px #aa2e0d; 

		&.active {
		 	margin-top: pxToRem(2px);
			-webkit-box-shadow: 0 0 0 #fff;
			-moz-box-shadow: 0 0 0 #fff;
			-o-box-shadow: 0 0 0 #fff;
			box-shadow: 0 0 0 #fff; 
		}
	}
}

.rule-title {
	font-size: pxToRem(16px);
	color: #ffff02;
}

.rule-content {
	margin-top: pxToRem(5px);

	p {
		margin-bottom: pxToRem(10px);
		font-size: pxToRem(16px);
		line-height: pxToRem(22px);

		&.small-text {
			font-size: pxToRem(12px);
		}
	}
}

//微信分享提示
.bottom-wrap.wx-share,
.top-wrap.wx-share{
		background: #fff;

	 .text {
			padding: pxToRem(10px);
			font-size: pxToRem(14px);
			color: #ff5a00;
		}
}
.bottom-wrap.wx-share .arrows,
.top-wrap.wx-share .arrows {
	position: absolute;
	top: pxToRem(5px);
	right: pxToRem(10px);
	width: 30px;
	height: 30px;
}

// 弹窗
.dialog {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: url(../images/pic_dialog_overlay.png) repeat;
	z-index: 999;
	overflow-y: scroll;
	font-size: pxToRem(14px);

	//顶部全屏
	.top-wrap {
		position: absolute;
		top:0;
		left:50%;
		width:pxToRem(320px);
		max-width: 640px;
		margin-left: pxToRem(-160px);
	}
	//底部部全屏
	.bottom-wrap {
		position: absolute;
		bottom: 0;
		left:50%;
		width:pxToRem(320px);
		max-width: 640px;
		margin-left: pxToRem(-160px);
	}
}

.pop-up-lock body {
	overflow: hidden !important;
}

.text-yellow {
	color: #ffff02;
}
