//sass style
@import "../../../common/app-common-1";
$baseFontSize: 100px !default;

// pixels to rems
@function pxToRem($px) {
    @return $px / $baseFontSize * 1rem;
}

body {
	font-size: pxToRem(14px);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}
img {
	display: block;
}
.hide {
	display: none;
}

// 抢红包主页
.page {
	background: #ffef83;
	padding-bottom: pxToRem(17px);
}
.content {
	margin: 0 pxToRem(10px);
	background: #cc0001;
	box-shadow: 0 pxToRem(4px) pxToRem(8px) #4a0303;
	-moz-box-shadow: 0 pxToRem(4px) pxToRem(8px) #4a0303;
	-webkit-box-shadow: 0 pxToRem(4px) pxToRem(8px) #4a0303;
}
// 参与按钮
.add-btn-bar {
	padding-top: pxToRem(23px);
	.add-btn {
		margin: 0 auto;
		display: block;
		width: pxToRem(260px);
		height: pxToRem(45px);
		line-height: pxToRem(45px);
		color: #d74125;
		font-size: pxToRem(24px);
		font-weight: 600;
		text-align: center;
		border-radius: pxToRem(4px);
		background: #fffdcd;
	}
}
// 剩余数量
.top-limit-num {
	position: relative;
	.limit-num-wrap {
		position: absolute;
		bottom: pxToRem(33px);
		left: 0;
		width: 100%;
		text-align: center;
		.limit-text {
			text-align: center;
			color: #ffef83;
			font-size: pxToRem(20px);
		}
		.limit-num {
			color: #fff;
		}
	}
}
// 通用标题
.module-title {
	margin-top: pxToRem(40px);
	text-align: center;
	line-height: pxToRem(30px);
	font-size: pxToRem(16px);
	font-weight: bold;
	color: #f1be67;
	border-bottom: pxToRem(1px) dashed #de552f;
	&.mgt10 {
		margin-top: pxToRem(10px);
	}
}
// 活动说明
.act-des-lists {
	li {
		position: relative;
		margin-top: pxToRem(20px);
		padding: 0 pxToRem(14px) 0 pxToRem(30px);
	}
	.icon-bg {
		position: absolute;
		left: pxToRem(14px);
		top: 0;
		width: pxToRem(16px);
		height: pxToRem(20px);
		background: url(../images/act-des-bg.png) no-repeat;
		background-size: pxToRem(16px) pxToRem(20px);
	}
	.des-title {
		display: inline-block;
		margin-top: pxToRem(1px);
		padding: 0 pxToRem(5px);
		border-top-right-radius: pxToRem(9px);
		border-bottom-right-radius: pxToRem(9px);
		color: #cc0001;
		font-size: pxToRem(14px);
		background: #ffef83;
		line-height: pxToRem(18px);
	}
	.common-tips-text {
		padding-top: pxToRem(8px);
		color: #fffdcd;
		line-height: pxToRem(20px);
		font-size: pxToRem(14px);
	}
}
// 解释权
.copyright-text {
	p {
		text-align: center;
		color: #ffef83;
		font-size: pxToRem(14px);
		line-height: pxToRem(45px);
	}
}
// 已加好友数量
.add-fri-num-wrap {
	padding-bottom: pxToRem(20px);
	.add-fri-num-text {
		font-size: pxToRem(16px);
		text-align: center;
		color: #ffef83;
		line-height: pxToRem(40px);
		.add-fri-num {
			color: #fff;
		}
	}
}
// 结束提示文本
.act-over-tips-warp {
	padding: pxToRem(20px) pxToRem(10px);
	border-top: pxToRem(1px) dashed #de552f;
	border-bottom: pxToRem(1px) dashed #de552f;
	&.pdt30-pdb30 {
		padding-bottom: pxToRem(30px);
		padding-top: pxToRem(30px);
	}
	&.border-top-none {
		border-top: none;
	}
	.small-text {
		font-size: pxToRem(13px);
		color: #fffdcd;
		line-height: pxToRem(20px);
		padding-bottom: pxToRem(20px);
	}
	.big-text {
		font-size: pxToRem(18px);
		color: #ffef83;
		line-height: pxToRem(30px);
		text-align: center;
		&.font-size-14 {
			font-size: pxToRem(14px);
		}
	}
}
// 关注一起牛
.pay-attention-wrap {
	.title {
		text-align: center;
		line-height: pxToRem(55px);
		font-size: pxToRem(16px);
		font-weight: bold;
		color: #f1be67;
	}
	.code-img {
		margin: 0 auto;
		width: pxToRem(200px);
	}
}
.over-title-text {
	line-height: pxToRem(80px);
	color: #fff;
	text-align: center;
	font-size: pxToRem(20px);
}

// 弹窗
.dialog-wrap {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: pxToRem(-120px);
	margin-left: pxToRem(-140px);
	width: pxToRem(280px);
	height: pxToRem(240px);
	background: #e25c41;
	border-radius: pxToRem(5px);
	z-index: 1000;
	.dialog-title {
		position: absolute;
		left: 50%;
		top: pxToRem(-25px);
		margin-left: pxToRem(-82px);
		width: pxToRem(164px);
		height: pxToRem(63px);
		background: url(../images/success-hd-bg.png) no-repeat;
		background-size: 100% 100%;
		text-indent: -999em;
	}
	.dialog-success-text {
		padding: pxToRem(80px) pxToRem(35px) pxToRem(50px);
		color: #fff;
		text-align: center;
		font-size: pxToRem(15px);
	}
	.dialog-fail-text {
		padding: pxToRem(35px);
		color: #fff;
		font-size: pxToRem(15px);
	}
	.dialog-btn-wrap {
		padding: 0 pxToRem(35px);
		.dialog-close-btn {
			display: block;
			height: pxToRem(40px);
			line-height: pxToRem(40px);
			background: #ffea77;
			border-radius: pxToRem(3px);
			font-size: pxToRem(15px);
			color: #cc3e00;
			text-align: center;
		}
	}
}
.dialog-shadow {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
  	opacity: 0.7;
  	z-index: 999;
}