//sass style
@import "../../../common/app-common-1";
$baseFontSize: 100px !default;

// pixels to rems
@function pxToRem($px) {
    @return $px / $baseFontSize * 1rem;
}

body {
	font-size: pxToRem(14px);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}
img {
	display: block;
}
.hide {
	display: none;
}

// 抢红包预热页
.page {
	background: #ffef83;
	padding-bottom: pxToRem(17px);
}
.content {
	margin: 0 pxToRem(10px);
	background: #cc0001;
	box-shadow: 0 pxToRem(4px) pxToRem(8px) #4a0303;
	-moz-box-shadow: 0 pxToRem(4px) pxToRem(8px) #4a0303;
	-webkit-box-shadow: 0 pxToRem(4px) pxToRem(8px) #4a0303;
}
// 参与按钮
.add-btn-bar {
	padding-top: pxToRem(23px);
	.add-btn {
		margin: 0 auto;
		display: block;
		width: pxToRem(260px);
		height: pxToRem(45px);
		line-height: pxToRem(45px);
		color: #d74125;
		font-size: pxToRem(24px);
		font-weight: 600;
		text-align: center;
		border-radius: pxToRem(4px);
		background: #fffdcd;
	}
}
// 剩余数量
.top-limit-num {
	position: relative;
	.limit-num-wrap {
		position: absolute;
		bottom: pxToRem(33px);
		left: 0;
		width: 100%;
		text-align: center;
		.limit-text {
			text-align: center;
			color: #ffef83;
			font-size: pxToRem(20px);
		}
		.limit-num {
			color: #fff;
		}
	}
}
// 通用标题
.module-title {
	padding-top: pxToRem(40px);
	text-align: center;
	line-height: pxToRem(30px);
	font-size: pxToRem(16px);
	font-weight: bold;
	color: #f1be67;
	border-bottom: pxToRem(1px) dashed #de552f;
	&.pdt20 {
		padding-top: pxToRem(20px);
	}
}
// 活动说明
.act-des-lists {
	li {
		position: relative;
		margin-top: pxToRem(20px);
		padding: 0 pxToRem(14px) 0 pxToRem(30px);
	}
	.icon-bg {
		position: absolute;
		left: pxToRem(14px);
		top: 0;
		width: pxToRem(16px);
		height: pxToRem(20px);
		background: url(../images/act-des-bg.png) no-repeat;
		background-size: pxToRem(16px) pxToRem(20px);
	}
	.des-title {
		display: inline-block;
		margin-top: pxToRem(1px);
		padding: 0 pxToRem(5px);
		border-top-right-radius: pxToRem(9px);
		border-bottom-right-radius: pxToRem(9px);
		color: #cc0001;
		font-size: pxToRem(14px);
		background: #ffef83;
		line-height: pxToRem(18px);
	}
	.common-tips-text {
		padding-top: pxToRem(8px);
		color: #fffdcd;
		line-height: pxToRem(20px);
		font-size: pxToRem(14px);
	}
	.text-plus {
		margin-top: pxToRem(20px);
		color: #ffef83;
		line-height: pxToRem(20px);
		font-size: pxToRem(14px);
	}
	.code-img {
		margin-top: pxToRem(20px);
		margin-right: pxToRem(16px);
		padding-bottom: pxToRem(15px);
	}
}
// 解释权
.copyright-text {
	p {
		text-align: center;
		color: #ffef83;
		font-size: pxToRem(14px);
		line-height: pxToRem(45px);
	}
}