//sass style
@import "../../../common/app-common-2";
$baseFontSize: 100px !default;

@function pxToRem($px) {
    @return $px / $baseFontSize * 1rem;
}

body {
	background-color: #fff;
	font-size: pxToRem(14px);
}

/* 页面框架 */
.m-page {
	position: relative;
	margin: 0 auto;
	padding: pxToRem(154px) 0 pxToRem(20px);
	width: 100%;
	max-width: 640px;
	min-width: 320px;
	min-height: 100%;
	background: #4b1a97 url(../images/bg_index.jpg) no-repeat center 0;
	background-size: 100% auto;
	color: #fff;
}

/* 活动规则 */
.section {
	margin: 0 auto;
	padding: pxToRem(15px) pxToRem(10px);
	width: pxToRem(290px);
	background: #331368;
	border-radius: pxToRem(4px);

	&.no-bg {
		padding: pxToRem(15px) 0;
		background: none;
		border-radius: 0;
	}

	h1 {
		height: pxToRem(19px);
		font-size: pxToRem(14px);
		font-weight: 400;
		color: #ffe11a;
	}

	p {
		margin-top: pxToRem(6px);
		margin-bottom: pxToRem(20px);
		line-height: pxToRem(20px);
		font-size: pxToRem(14px);

		&:last-child {
			margin-bottom: 0;
		}
	}

	.rank-title {
		margin: 0 auto;
		width: pxToRem(119px);
		height: pxToRem(25px);
		background: url(../images/pic_text_4.png) no-repeat 0 0;
		background-size: 100% 100%;
	}

	ul.ranking {
		margin-top: pxToRem(10px);

		li {
			padding-top: pxToRem(10px);
			line-height: pxToRem(16px);
			font-size: 0;

			span {
				display: inline-block;
				margin-right: pxToRem(5px);
				font-size: pxToRem(14px);

				&.col-1 {
					width: pxToRem(56px);
					color: #e3d1ff;
				}
				&.col-2 {
					color: #ffed21;
				}
				&.col-3 {
					margin-right: 0;
					font-size: pxToRem(12px);
					i {
						margin-left: pxToRem(2px);
						font-style: normal;
						color: #ffed21;
					}
				}
			}

			.creater {
				padding-left: pxToRem(62px);
				font-size: pxToRem(12px);
				color: #e3d1ff;
			}
		}
	}

	.my-rank {
		margin-top: pxToRem(10px);
	}
}

/* 按钮 */
.btn-box {
	position: relative;
	margin-top: pxToRem(20px);
	text-align: center;
	height: pxToRem(54px);

	.btn {
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: pxToRem(-122px);
		display: block;
		width: pxToRem(244px);
		height: pxToRem(48px);
		border: 2px solid #341565;
		border-radius: pxToRem(24px);
		font-size: pxToRem(16px);
		line-height: pxToRem(40px);
		background: #ffee22;
		text-align: center;
		color: #815202;
		-webkit-appearance: none;
		-webkit-box-shadow: 0 -4px 0 #aea20e inset;
		-moz-box-shadow: 0 -4px 0 #aea20e inset;
		-o-box-shadow: 0 -4px 0 #aea20e inset;
		box-shadow: 0 -4px 0 #aea20e inset;

		&.active {
			-webkit-box-shadow: 0 0 0 #fff;
			-moz-box-shadow: 0 0 0 #fff;
			-o-box-shadow: 0 0 0 #fff;
			box-shadow: 0 0 0 #fff;
			line-height: pxToRem(48px);
		}

		&.disabled {
			-webkit-box-shadow: 0 0 0 #fff;
			-moz-box-shadow: 0 0 0 #fff;
			-o-box-shadow: 0 0 0 #fff;
			box-shadow: 0 0 0 #fff;
			background: none;
			color: #ffee22;
			border-color: #ffee22;
			cursor: default;
			line-height: pxToRem(48px);
		}
	}
}

/* 法律权利 */
.all-right {
	margin-top: pxToRem(10px);
	color: #2d0a5e;
	text-align: center;
}

/* 弹窗 */
.dialog {
/* 	display: none; */
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: url(../images/pic_dialog_overlay.png) repeat;
	z-index: 999;
	overflow-y: scroll;
	font-size: pxToRem(14px);
	
	//默认样式
	.simple-wrap {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: pxToRem(-145px);
		padding: pxToRem(25px) pxToRem(10px);
		width: pxToRem(290px);
		border-radius: pxToRem(2px);
		background: #4b1a97;
		background-size: 100% 100%;
	}

	.intro {

		h3 {
			margin-bottom: pxToRem(5px);
			font-size: pxToRem(14px);
			font-weight: 700;
			color: #fff03b;
		}

		p {
			margin-bottom: pxToRem(15px);
			color: #fff;
			line-height: pxToRem(20px);

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.pop-up-lock body {
	overflow: hidden !important;
}

.text-yellow {
	color: #ffed21;
}