@charset "UTF-8";
/* 
*H5公共样式，用于所有H5开发页面 */
html { font-family: "Microsoft Yahei", "Hiragino Sans GB","Helvetica Neue", Helvetica, Arial, sans-serif; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

* { box-sizing: border-box; }

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, fieldset, button, input, textarea, th, td, div { margin: 0; padding: 0; border: 0; }

body { font-family: inherit; font-size: 14px; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; margin: 0; padding: 0; }

audio, canvas, progress, video { display: inline-block; vertical-align: baseline; margin: 0; padding: 0; }

b, strong { font-weight: bold; }

small { font-size: 80%; }

code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

button, input, optgroup, select, textarea { margin: 0; font: inherit; color: inherit; }

button { overflow: visible; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: none; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner { padding: 0; border: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

fieldset { padding: .35em .625em .75em; margin: 0 2px; border: 1px solid #ddd; }

legend { padding: 0; border: 0; }

textarea { overflow: auto; }

optgroup { font-weight: bold; }

table { border-spacing: 0; border-collapse: collapse; }

td, th { padding: 0; }

body, input, select, textarea, button { /*字体变清晰*/ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.fontSTsong { font-family: "NSimSun","SimSun","STSong","FangSong","FangSong_GB2312" !important; }

ol, ul { list-style: none; }

table { border-collapse: collapse; }

td, th { text-align: left; font-weight: 400; vertical-align: middle; }

a, a:hover, a:focus { text-decoration: none; -webkit-tap-highlight-color: transparent; -moz-tap-highlight-color: transparent; -o-tap-highlight-color: transparent; tap-highlight-color: transparent; }

img { width: 100%; border: 0 none; -ms-interpolation-mode: bicubic; }

input:focus, textarea:focus, select:focus, button:focus, a:focus { outline: 0; }

.clearfix:after, .clearfix:before { content: "."; display: block; font-size: 0; height: 0; line-height: 0; overflow: hidden; visibility: hidden; width: 0; }

.clearfix:after { clear: both; }

.clearfix { zoom: 1; }

/*---common style ---*/
.app-table { display: table; }

.app-tr { display: table-row; }

.app-td { display: table-cell; }

html { font-size: 100px; }

@media only screen and (min-width: 401px) { html { font-size: 125px; } }
@media only screen and (min-width: 428px) { html { font-size: 133.75px; } }
@media only screen and (min-width: 481px) { html { font-size: 150px; } }
@media only screen and (min-width: 569px) { html { font-size: 175px; } }
@media only screen and (min-width: 641px) { html { font-size: 200px; } }
html, body { min-height: 100%; }

body { margin: 0 auto; width: 100%; max-width: 640px; color: #333; }

html { min-height: 100%; }

body { background-color: #eee; min-height: 100%; }

.page { margin: 0 auto; padding: 0.6rem 0 0.2rem; width: 100%; max-width: 640px; min-width: 320px; height: 100%; font-size: 0.14rem; }

header { padding-bottom: 0.15rem; width: 100%; min-height: 1.12rem; background-color: #444; text-shadow: 0 1px 1px #78350c; 	/* .vip-intro {
		position:relative;
		margin-top: pxToRem(10px);
		padding: 0 pxToRem(30px) 0 pxToRem(15px);
		color: $text-light;
		font-size:pxToRem(14px);
		height:pxToRem(18px);
		overflow:hidden;

		p {
			line-height:pxToRem(18px);

			em {
				display:inline-block;
				width:pxToRem(15px);
				height:pxToRem(12px);
			}
		}

		span {
			display:none;
			position:absolute;
			bottom:pxToRem(8px);
			right: pxToRem(15px);
			width:pxToRem(15px);
			height:pxToRem(9px);
		}
	} */ }
header .user-img { position: relative; margin: 0.16rem 0 0 0.15rem; float: left; width: 0.8rem; height: 0.8rem; overflow: hidden; }
header .user-img span { display: block; }
header .user-img span.img { width: 0.8rem; height: 0.8rem; overflow: hidden; border-radius: 100%; border: 0.03rem solid #888; background: url(../../common/images/pic_user.png) no-repeat 0 0; background-size: 100% 100%; }
header .user-img span.vip { position: absolute; bottom: 0; right: 0; width: 0.18rem; height: 0.18rem; }
header .ptf-info { float: left; width: 65%; color: #fff; }
header .ptf-info span { margin-left: 0.04rem; }
header .ptf-info .ptf-title, header .ptf-info .user-name, header .ptf-info .user-intro { margin-left: 0.15rem; }
header .ptf-info .ptf-title { margin-top: 0.16rem; font-size: 0.18rem; }
header .ptf-info .user-name { margin-top: 0.03rem; font-size: 0.14rem; }
header .ptf-info .user-intro { margin-top: 0.03rem; font-size: 0.12rem; line-height: 0.16rem; color: #bbb; }
header .ptf-info .user-intro img { display: inline-block; height: 0.12rem; width: 0.12rem; vertical-align: middle; }

.yields-wrap { padding: 0.1rem; padding-bottom: 0; background: #fff; }

.gain-title { height: 0.18rem; line-height: 0.18rem; font-size: 0.14rem; font-weight: 400; color: #666; }

.gain-box { padding: 0.08rem 0 0.12rem; border-bottom: 1px solid #eee; }

.gain-index { float: left; }
.gain-index .index { display: inline-block; height: 0.36rem; line-height: 0.36rem; font-size: 0.36rem; font-weight: 400; }
.gain-index .icon { display: inline-block; height: 0.15rem; font-size: 0.12rem; line-height: 0.15rem; text-align: center; color: #fff; background: #24a9fe; border-radius: 0.02rem; vertical-align: middle; }
.gain-index .icon.icon1 { width: 0.3rem; background: #ff5a00; }
.gain-index .icon.icon2 { width: 0.42rem; background: #24a9fe; }

.yields-box { padding: 0.1rem 0 0; }
.yields-box table { width: 100%; }
.yields-box td { width: 25%; text-align: center; }
.yields-box h3 { line-height: 0.3rem; font-size: 0.12rem; font-weight: 400; color: #666; text-align: center; }
.yields-box span { display: inline-block; line-height: 0.18rem; text-align: center; font-size: 0.14rem; vertical-align: middle; }
.yields-box .index-img { display: inline-block; padding-left: 0.02rem; width: 0.62rem; height: 0.18rem; }
.yields-box .index-img img { margin: 0 0.02rem; padding: 0 auto; width: 0.32rem; }
.yields-box .index-img span { display: inline-block; vertical-align: bottom; font-size: 0.1rem !important; color: #999; }
.yields-box .toggle-box { width: 100%; height: 0.2rem; background: url(../images/icon_down.png) no-repeat center 60%; background-size: 0.15rem 0.09rem; }
.yields-box .toggle-box.up { background-image: url(../images/icon_up.png); }

a.btn { display: inline-block; width: 96%; height: 0.42rem; line-height: 0.42rem; border: 1px solid #ff5a00; border-radius: 0.02rem; background: #ff5a00; font-size: 0.16rem; font-weight: 400; color: #fff; cursor: pointer; text-decoration: none; text-align: center; }

a.btn:hover, a.btn:focus { text-decoration: none; }

.btn-box { padding: 0.1rem; text-align: center; }

.text-red { color: #fe0002; }

.text-green { color: #009900; }

.icon-locked { margin: 0 0.04rem; display: inline-block; width: 0.13rem; height: 0.15rem; background: url(../images/icon_locked.png) no-repeat 0 0; background-size: 100% 100%; vertical-align: sub; }

.icon-buy, .icon-sell { display: inline-block; width: 0.14rem; height: 0.14rem; line-height: 0.14rem; text-align: center; font-size: 0.12rem; color: #fff; font-style: normal; border-radius: 0.02rem; }

.icon-buy { background: #fe0002; }

.icon-sell { background: #009900; }

.icon-arrows-down { display: inline-block; width: 0.07rem; height: 0.09rem; background: url(../images/icon_arrows_down.png) no-repeat 0 0; background-size: 100% 100%; }

.business-chart-wrap, .history-chart-wrap { margin-top: 0.1rem; background: #fff; }
.business-chart-wrap h2, .history-chart-wrap h2 { padding-left: 0.1rem; height: 0.44rem; line-height: 0.44rem; text-align: left; font-size: 0.16rem; font-weight: 400; color: #666; border-bottom: 1px solid #eaebed; }
.business-chart-wrap .locked-box, .history-chart-wrap .locked-box { padding-left: 0.1rem; height: 0.25rem; line-height: 0.25rem; font-size: 0.12rem; background: #f1f2f4; color: #666; }
.business-chart-wrap .echart-pie, .history-chart-wrap .echart-pie { width: 100%; height: 1.22rem; }
.business-chart-wrap .echart-line, .history-chart-wrap .echart-line { width: 100%; height: 1.76rem; }

.last-adjust-wrap { margin-top: 0.1rem; background: #fff; }
.last-adjust-wrap h2 { padding-left: 0.1rem; height: 0.44rem; line-height: 0.44rem; text-align: left; font-size: 0.16rem; font-weight: 400; color: #666; border-bottom: 1px solid #eaebed; }
.last-adjust-wrap .locked-box { padding-left: 0.1rem; height: 0.25rem; line-height: 0.25rem; font-size: 0.12rem; background: #f1f2f4; color: #666; }
.last-adjust-wrap .adjust-commit { padding-left: 0.1rem; height: 0.36rem; line-height: 0.36rem; color: #999; border-bottom: 1px solid #e3e3e3; font-size: 0.12rem; }
.last-adjust-wrap .adjust-commit span { display: block; line-height: 1; }
.last-adjust-wrap .adjust-commit span.text { display: inline-block; line-height: 0.14rem; vertical-align: sub; }
.last-adjust-wrap .adjust-detail { width: 100%; }
.last-adjust-wrap .adjust-detail th { width: 25%; height: 0.44rem; vertical-align: middle; text-align: center; color: #666; font-size: 0.12rem; font-weight: 400; }
.last-adjust-wrap .adjust-detail th span { display: block; line-height: 1.1; }
.last-adjust-wrap .adjust-detail th span.small { font-size: 0.1rem; }
.last-adjust-wrap .adjust-detail tbody tr { border-top: 1px solid #ececec; }
.last-adjust-wrap .adjust-detail tbody td { padding: 0.15rem 0.1rem; text-align: center; }
.last-adjust-wrap .adjust-detail tbody span { display: block; line-height: 1; }
.last-adjust-wrap .adjust-detail tbody span.text { display: inline-block; line-height: 0.14rem; vertical-align: sub; }

.download-wrap { position: fixed; top: 0; z-index: 999; padding: 9px 0; width: 100%; max-width: 640px; height: 0.6rem; background: #111; opacity: 0.9; -webkit-opacity: 0.9; }
.download-wrap .download { padding: 0 0.1rem; }
.download-wrap .logo { float: left; width: 0.42rem; height: 0.42rem; overflow: hidden; }
.download-wrap .app-info { float: left; margin-left: 0.1rem; }
.download-wrap .app-info h1 { font-size: 0.16rem; font-weight: 400; color: #fff; line-height: 0.24rem; }
.download-wrap .app-info h4 { line-height: 0.18rem; font-size: 0.12rem; font-weight: 400; color: #999; }
.download-wrap .download-btn { float: right; margin-top: 0.05rem; }
.download-wrap .download-btn a { display: block; width: 0.9rem; height: 0.33rem; line-height: 0.33rem; background: #ff5a00; font-size: 0.14rem; color: #fff; text-decoration: none; text-align: center; border-radius: 0.02rem; }

.master { display: none; position: fixed; top: 0; left: 0; z-index: 999; width: 100%; height: 100%; background: #000; opacity: 0.7; }

.master .prompt { position: absolute; top: 0.04rem; right: 0.08rem; width: 2.38rem; }

.master .prompt img { width: 100%; }

.fail-img { margin: 50% auto 0; text-align: center; vertaical-align: middle; }

.fail-img img { width: 0.9rem; height: 0.9rem; }

.logo-hidden { width: 0; height: 0; overflow: hidden; }

.load-fail-img { width: 0.9rem; height: 0.9rem; margin: 1rem auto 0.3rem; text-align: center; }

.load-fail-text { font-size: 0.14rem; text-align: center; line-height: 0.22rem; color: #333; }
