//sass style
@import "../../../common/app-common-1";
$baseFontSize: 100px !default;

// pixels to rems
@function pxToRem($px) {
    @return $px / $baseFontSize * 1rem;
}

body {
    color: #8d784b;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

/*页面主体*/
.page {
	background: url(../images/page-bg.jpg?ver=1) #201600 0 pxToRem(-25px) no-repeat;
	background-size: 100% pxToRem(363px);
	padding: pxToRem(130px) 0 0;
}
.dialog-module-title {
	position: relative;
	height: pxToRem(41px);
	h3 {
		position: absolute;
		left: 50%;
		margin-left: - pxToRem(36px);
		top: pxToRem(9px);
		width: pxToRem(72px);
		height: pxToRem(21px);
		line-height: pxToRem(21px);
		text-align: center;
		background: #201600;
		z-index: 3;
	}
	.border-line {
		position: absolute;
		top: pxToRem(20px);
		left: pxToRem(15px);
		background: #3a2d11;
		height: pxToRem(1px);
		width: pxToRem(290px);
		z-index: 2;
	}
}
.common-tips-text {
	padding: pxToRem(5px) pxToRem(15px) 0;
	p {
		padding-bottom: pxToRem(20px);
		font-size: pxToRem(12px);
		color: #8d784b;
	}
}