//sass style
@import "../../../common/app-common-2";
$baseFontSize: 100px !default;

@function pxToRem($px) {
    @return $px / $baseFontSize * 1rem;
}

$bgcolor : #fef7c0;
$orange : #fe5d26;
$orange-block : #e64b16;
$yellow-light : #ffe29e;

body {
	background-color: #fff;
	font-size: pxToRem(14px);
}
.m-page {
	margin: 0 auto;
	width: 100%;
	min-height: 100%;
	max-width: 640px;
	min-width: 320px;
	color: #fff;
	background-color: $bgcolor;

	&.hide {
		display: none !important;
		opacity: 0;
	}
}
.container {
	padding-bottom: pxToRem(20px);
	position: relative;
	width: 100%;
	min-height: 100%;

	&.bg-style-1 {
		padding-bottom: pxToRem(20px);
		background: $bgcolor url(../images/bg_banner_1.jpg) no-repeat center 0;
		background-size: 100% auto;
	}

	&.bg-style-2 {
		background: $bgcolor url(../images/bg_banner_2.jpg) no-repeat center 0;
		background-size: 100% auto;
	}

	&.bg-style-3 {
		background: $bgcolor url(../images/bg_banner_3.jpg) no-repeat center 0;
		background-size: 100% auto;
	}

	&.no-padding-bottom {
		padding-bottom: 0;
	}
}

.a-banner {
	padding-top: pxToRem(62px);
	text-align: center;

	img {
		width: pxToRem(264px);
		height: pxToRem(66px);
	}
}

.a-intro {
	margin: pxToRem(20px) auto;
	padding: pxToRem(25px) pxToRem(10px) 0;
	width: pxToRem(290px);
	background: #ffe29e;
	border-radius: pxToRem(4px);
	color: #522802;

	.a-title {
		position: relative;
		height: 0;
		border-top: 1px solid #fec867;

		span {
			display: block;
			position: absolute;
			top: pxToRem(-10px);
			left: 50%;
			margin-left: pxToRem(-35px);
			width: pxToRem(70px);
			height: pxToRem(20px);
			line-height: pxToRem(20px);
			background: #fec867;
			border-radius: pxToRem(10px);
			text-align: center;
			color: $orange;
			font-size: pxToRem(14px);
		}
	}

	.a-content	{
		padding: pxToRem(20px) 0;

		p {
			margin-bottom: pxToRem(5px);
			font-size: pxToRem(14px);

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.b-steps {
	padding: pxToRem(15px) pxToRem(10px);

	.title {
		width: pxToRem(70px);
		height: pxToRem(20px);
		line-height: pxToRem(20px);
		background: #fec867;
		border-radius: pxToRem(10px);
		text-align: center;
		color: $orange;
		font-size: pxToRem(14px);
	}

	.steps {
		padding: pxToRem(10px) 0;
		font-size: 0;
		span {
			display: inline-block;
			width: 50%;
			font-size: pxToRem(14px);
		}
	}
}

.b-info {
	margin-top: pxToRem(30px);
	padding:0 pxToRem(15px);

	.logo {
		float:left;
		width:pxToRem(27px);
		height:pxToRem(27px);
		overflow:hidden;
	}

	.app-info {
		float:left;
		margin-left:pxToRem(10px);

		h1 {
			font-size: pxToRem(14px);
			font-weight:400;
			color:#5e0202;
			line-height:pxToRem(15px);
		}

		h4 {
			font-size:pxToRem(12px);
			font-weight:400;
			color:#aa8465;
			line-height:pxToRem(12px);
		}
	}
}

.b-form {
	margin: pxToRem(10px) auto;
	padding: pxToRem(20px) pxToRem(10px);
	background: #ffe29e;
	width: pxToRem(290px);
	border-radius: pxToRem(4px);
	color: #522802;

	li {
		margin-bottom: pxToRem(10px);

		&:last-child {
			margin-bottom: 0;
		}
	}

	input {
		width: pxToRem(270px);
		height: pxToRem(44px);
		border: 1px solid #cbb175;
		border-radius: pxToRem(4px);
		font-size: pxToRem(18px);
		text-align: center;
		color: #522802;

		&::-webkit-input-placeholder {
			color: #522802; 
		} 
		&:-moz-placeholder {
			color: #522802; 
		} 
		&::-moz-placeholder {
			color: #522802; 
		} 
		&:-ms-input-placeholder { 
			color: #522802; 
		}
		&:-o-input-placeholder { 
			color: #522802; 
		}

		&:focus {
			border-color: #fe5d26;
		}

		&.small {
			float: left;
			display: block;
			width: pxToRem(178px);
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			border-right: 0 none;
		}
	}

	input.onfocus {
		&::-webkit-input-placeholder {
			color: #eee; 
		} 
		&:-moz-placeholder {
			color: #eee; 
		} 
		&::-moz-placeholder {
			color: #eee; 
		} 
		&:-ms-input-placeholder { 
			color: #eee; 
		}
		&:-o-input-placeholder { 
			color: #eee; 
		}
	}

	button {
		float: left;
		display: block;
		width: pxToRem(92px);
		height: pxToRem(44px);
		background: #fe5d26;
		color: #fff;
		font-size: pxToRem(16px);
		border-top-right-radius: pxToRem(4px);
		border-bottom-right-radius: pxToRem(4px);

		&:active {
			background: #e64b16;
		}
	}
}

.c-banner {
	padding-top: pxToRem(40px);
	text-align: center;

	img {
		width: pxToRem(137px);
		height: pxToRem(47px);
	}
}

.c-rate {
	margin: pxToRem(10px) 0;
	text-align: center;
	color: #ffe29e;

	span {
		margin: 0 pxToRem(5px);
		font-size: pxToRem(36px);
		color: #fff;
	}
}

.c-list {
	margin: 0 auto;
	padding: pxToRem(25px) pxToRem(10px);
	width: pxToRem(290px);
	background: #ffe29e;
	border-radius: pxToRem(4px);
	color: #522802;

	.c-title {
		position: relative;
		height: 0;
		border-top: 1px solid #fec867;

		span {
			display: block;
			position: absolute;
			top: pxToRem(-10px);
			left: 50%;
			margin-left: pxToRem(-35px);
			width: pxToRem(70px);
			height: pxToRem(20px);
			line-height: pxToRem(20px);
			background: #fec867;
			border-radius: pxToRem(10px);
			text-align: center;
			color: $orange;
			font-size: pxToRem(14px);
		}
	}

	.c-list-box {
		position: relative;
		margin-top: pxToRem(20px);
		height: pxToRem(168px);
		overflow: hidden;
	}

	ul {
		position: absolute;
		top:pxToRem(168px);
		left:0;
		width: 100%;
		overflow: hidden;

		&.animate {
			animation: listanimate 20s linear infinite normal;
      -moz-animation: listanimate 20s linear infinite normal;
      -webkit-animation: listanimate 20s linear infinite normal;
      -o-animation: listanimate 20s linear infinite normal;
		}
	}

	li {
		line-height: pxToRem(28px);
		font-size: pxToRem(14px);

		span {
			display: inline-block;

			&:first-child {
				width: 30%;
			}
			&:nth-child(2) {
				width: 32%;
			}
			&:last-child {
				width: 38%;
			}
		}
	}
}

.c-notice {
	padding: 0 pxToRem(15px) pxToRem(20px);
	line-height: pxToRem(20px);
	font-size: pxToRem(14px);
	color: #522802;
}

.d-banner {
	padding-top: pxToRem(72px);
	text-align: center;

	img {
		width: pxToRem(291px);
		height: pxToRem(39px);
	}
}

.d-rate {
	margin: pxToRem(10px) 0;
	text-align: center;
	font-size: pxToRem(62px);
	font-weight: 700;
	color: #fff;
	text-shadow: 0 4px 2px #af1e00;

	span {
		display: block;
	}

	.sub {
		font-size: pxToRem(18px);
		text-shadow:#cf4718 2px 0 0,#cf4718 0 2px 0,#cf4718 -2px 0 0,#cf4718 0 -2px 0;
	}
}

.d-phone-box {
	margin-top: pxToRem(80px);
	text-align: center;

	h3 {
		font-size: pxToRem(16px);
		font-weight: 400;
		color: $orange;
	}

	span {
		display: block;
		font-size: 24px;
		font-weight: 700;
		color: $orange;
	}
}

.e-banner {
	padding-top: pxToRem(114px);
	text-align: center;

	img {
		width: pxToRem(216px);
		height: pxToRem(59px);
	}
}

.e-rate {
	margin: pxToRem(10px) 0;
	text-align: center;
	font-size: pxToRem(18px);
	font-weight: 400;
	color: #fff;
}

.e-notice {
	padding: 0 pxToRem(15px) pxToRem(20px);
	line-height: pxToRem(20px);
	font-size: pxToRem(14px);
	color: #522802;
}

.e-advert {
	width: 100%;
	height: pxToRem(90px);
}

// 弹窗
.dialog {
/* 	display: none; */
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: url(../images/pic_dialog_overlay.png) repeat;
	z-index: 999;
	overflow-y: scroll;
	font-size: pxToRem(14px);

	&.show {
		display: block;
	}
	
	//默认样式
	.simple-wrap {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: pxToRem(-122px);
		margin-top: pxToRem(-155px);
		width: pxToRem(244px);
		height: pxToRem(310px);
		background: url(../images/bg_hongbao.png) no-repeat 0 0;
		background-size: 100% 100%;
	}

	.phone {
		margin-top: pxToRem(70px);
		text-align: center;
		color: #fff;
		font-size: pxToRem(14px);
	}

	.open-btn {
		margin: pxToRem(10px) auto;
		width: pxToRem(90px);
		height: pxToRem(90px);
		background: url(../images/icon_open.png) no-repeat 0 0;
		background-size: 100% 100%;

		&.animate-rotate {
			animation: arotate .8s linear infinite normal;
			-webkit-animation: arotate .8s linear infinite normal;
      -moz-animation: arotate .8s linear infinite normal;
      -o-animation: arotate .8s linear infinite normal;
		}
	}
}

.dialog-tips {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: url(../images/pic_dialog_overlay.png) repeat;
	z-index: 9999;
	.dialog-tips-text {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: pxToRem(-145px);
		margin-top: pxToRem(-20px);
		border-radius: pxToRem(5px);
		padding: pxToRem(20px) pxToRem(10px);
		width: pxToRem(290px);
		min-height: pxToRem(16px);
		line-height: pxToRem(18px);
		font-size: pxToRem(16px);
		text-align: center;
		background: #fff;
		color: #522802;
	}
	.dialog-tips-bottom {
		position: fixed;
		bottom: 0;
		left: 0;
		padding: pxToRem(10px);
		width: pxToRem(320px);
		min-height: pxToRem(18px);
		line-height: pxToRem(18px);
		font-size: pxToRem(16px);
		text-align: center;
		background: #fff url(../images/icon_share_arrows.png) no-repeat 93% center;
		background-size: pxToRem(30px) pxToRem(30px);
		color: #522802;
	}
}

.pop-up-lock body {
	overflow: hidden !important;
}

/* btn */
.btn-box {
	position: relative;
	margin-top: pxToRem(60px);
	text-align: center;
	height: pxToRem(60px);

	.btn {
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: pxToRem(-105px);
		display: block;
		width: pxToRem(210px);
		height: pxToRem(44px);
		border-radius: pxToRem(22px);
		font-size: pxToRem(16px);
		line-height: pxToRem(36px);
		border: pxToRem(2px) solid $yellow-light;
		background: $orange;
		text-align: center;
		color: #fff;
		-webkit-appearance: none;
		-webkit-box-shadow: 0 -4px 1px $orange-block inset;
		-moz-box-shadow: 0 -4px 1px $orange-block inset;
		-o-box-shadow: 0 -4px 1px $orange-block inset;
		box-shadow: 0 -4px 1px $orange-block inset;

		&.active {
			top: pxToRem(2px);
			-webkit-box-shadow: 0 0 0 #fff inset;
			-moz-box-shadow: 0 0 0 #fff inset;
			-o-box-shadow: 0 0 0 #fff inset;
			box-shadow: 0 0 0 #fff inset;
			line-height: pxToRem(44px);
		}

		&.disabled {
			line-height: pxToRem(40px);
			background: none;
			border: pxToRem(2px) solid $orange;
			color: $orange;
			cursor: default;
			-webkit-appearance: none;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			-o-box-shadow: none;
			box-shadow: none;
		}
	}
}
//拆红包动画
@keyframes arotate {
  from {-webkit-transform: rotateY(0);}
  to {-webkit-transform: rotateY(360deg);}
}

@-moz-keyframes arotate {
  from {-webkit-transform: rotateY(0);}
  to {-webkit-transform: rotateY(360deg);}
}

@-webkit-keyframes arotate {
  from {-webkit-transform: rotateY(0);}
  to {-webkit-transform: rotateY(360deg);}
}

@-o-keyframes arotate {
  from {-webkit-transform: rotateY(0);}
  to {-webkit-transform: rotateY(360deg);}
}

//列表滚动动画
@keyframes listanimate {
  from {top:pxToRem(168px);}
  to {top:pxToRem(-560px);}
}

@-moz-keyframes listanimate {
  from {top:pxToRem(168px);}
  to {top:pxToRem(-560px);}
}

@-webkit-keyframes listanimate {
  from {top:pxToRem(168px);}
  to {top:pxToRem(-560px);}
}

@-o-keyframes listanimate {
  from {top:pxToRem(168px);}
  to {top:pxToRem(-560px);}
}


