//sass style
@import "../../../common/app-common-2";
$baseFontSize: 100px !default;

//颜色变量
$white : #fff;
$gray : #b0b7d1;
$light : #686f81;
$orange : #ff5a00;
$blue : #00fefe;
$red : #fc4340;
$green : #23f286;
$yellow : #ffc500;
$placeholder-color : #4e5460;
$notice-color : #4e5460;
$bg-gray : #313540;
$bg-back : #262932;
$bg-nav : #3e424e;
$border-color : #32353e;

// pixels to rems
@function pxToRem($px) {
    @return $px / $baseFontSize * 1rem;
}
html {
	min-height:100%;
}
body {
	background-color: $bg-back;
	min-height: 100%;
	font-size: pxToRem(12px);
}

::-webkit-input-placeholder {
	color : $placeholder-color; 
}
::-moz-placeholder {
	color : $placeholder-color; 
} 
:-ms-input-placeholder {
	color : $placeholder-color; 
}
input:-moz-placeholder { 
	color : $placeholder-color; 
}

//栅格系统
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.ui-box {
	margin: 0 auto;
}
.ui-box-p {
	padding: pxToRem(5px) pxToRem(10px);
}
.ui-row:after {
	display: table;
	content: '';
	clear: both;
}
.ui-col-1, 
.ui-col-2, 
.ui-col-3, 
.ui-col-4, 
.ui-col-5, 
.ui-col-6, 
.ui-col-7, 
.ui-col-8, 
.ui-col-9, 
.ui-col-10, 
.ui-col-11, 
.ui-col-12 {
   float: left;
}
.ui-col-12 {
  width: 100%;
}
.ui-col-11 {
  width: 91.66666667%;
}
.ui-col-10 {
  width: 83.33333333%;
}
.ui-col-9 {
  width: 75%;
}
.ui-col-8 {
  width: 66.66666667%;
}
.ui-col-7 {
  width: 58.33333333%;
}
.ui-col-6 {
  width: 50%;
}
.ui-col-5 {
  width: 41.66666667%;
}
.ui-col-4 {
  width: 33.33333333%;
}
.ui-col-3 {
  width: 25%;
}
.ui-col-2 {
  width: 16.66666667%;
}
.ui-col-1 {
  width: 8.33333333%;
}

//字体
.text-white {
	color: $white !important;
}
.text-gray {
	color: $gray !important;
}
.text-light {
	color: $light !important;
}
.text-red {
	color: $red !important;
}
.text-green {
	color: $green !important;
}
.text-orange {
	color: $orange !important;
}
.text-blue {
	color: $blue !important;
}
.text-yellow {
	color: $yellow !important;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-size-10 {
	font-size: pxToRem(10px);
}
.text-size-12 {
	font-size: pxToRem(12px);
}
.text-size-14 {
	font-size: pxToRem(14px);
}
.text-size-16 {
	font-size: pxToRem(16px);
}

//图标
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-likefill:before { 
	content: "\e668"; 
}
.icon-like:before { 
	content: "\e669"; 
}
.icon-comment:before { 
	content: "\e667"; 
}
.icon-likefill {
	color: $red;
}
.icon-wenhao {
	display: inline-block;
	margin: 0 pxToRem(2px);
	width: pxToRem(12px);
	height: pxToRem(12px);
	background: url(../images/icon_question-mark.png) no-repeat 0 0;
	background-size: 100%;
	cursor: pointer;
	vertical-align: sub;
}
.icon-yazhu {
	display: inline-block;
	margin: 0 pxToRem(2px);
	width: pxToRem(12px);
	height: pxToRem(12px);
	background: url(../images/icon_yazhu.png) no-repeat 0 0;
	background-size: 100%;
	vertical-align: sub;
}
.icon-niubi {
	display: inline-block;
	margin: 0 pxToRem(2px);
	width: pxToRem(17px);
	height: pxToRem(17px);
	background: url(../images/icon_niubi_1.png) no-repeat 0 0;
	background-size: 100%;
	cursor: pointer;
	vertical-align: sub;
}
.icon-user {
	display: inline-block;
	margin: pxToRem(2px) pxToRem(3px) 0 0;
	width: pxToRem(12px);
	height: pxToRem(12px);
	vertical-align: top;
	background: url(../images/icon_user.png) no-repeat 0 0;
	background-size: 100% 100%;
}

//状态
.show {
	display: block !important;
}
.hide {
	display: none !important;
}

//位置
.relative {
	position: relative;
}

//按钮
.btn {
	display: inline-block;
	padding: 0 pxToRem(10px);
	height: pxToRem(44px);
	line-height: pxToRem(44px);
	text-align: center;
	font-size: pxToRem(16px);
	font-weight: 700;
	color: #fff;
	background-color: $orange;
	border-radius: pxToRem(5px);
	-webkit-appearance: none;

	&:active,&.active,&:hover {
		background-color: #e85200;
	}

	&.width-xl-12 {
		width: 100%;
	}

	&.width-xl-6 {
		width: 50%;
	}

	&.width-fx-240 {
		width: pxToRem(240px);
	}

	&.width-fx-140 {
		width: pxToRem(140px);
	}

	&.width-fx-115 {
		width: pxToRem(115px);
	}
	
	&.blue {
		color: #333;
		background-color: $blue;

		&.active {
			background-color: #01b7b9;
		}
	}

	&:first-child {
		margin-right: pxToRem(5px);
	}
}

//表单
.form-control {
	padding: 0 pxToRem(10px);
	width: 100%;
	font-size: pxToRem(14px);
	color: #fff;
	background-color: #313540;
	border: 0 none;
	border-radius: pxToRem(2px);
	-webkit-appearance: none;
	&:focus {
		background-color: #1b1e25;
	}
	&.text,&.select {
		height: pxToRem(44px);
	}
	&.select.toggle {
		background: #313540 url(../images/icon_toggle.png) no-repeat 95% center;
		background-size: pxToRem(10px) pxToRem(12px);
	}
	&.select.down {
		background: #313540 url(../images/icon_down.png) no-repeat 95% center;
		background-size: pxToRem(10px) pxToRem(6px);
	}
	&.textarea {
		padding-top: pxToRem(10px);
		padding-bottom: pxToRem(10px);
		height: pxToRem(88px);
		resize: none;
	}
}

//用户头像
.gravatar,
.gravatar-large {
	display: inline-block;
	border: pxToRem(2px) solid #575a61;
	border-radius: 100%;
	overflow: hidden;
}
.gravatar {
	width: pxToRem(40px);
	height: pxToRem(40px);
}
.gravatar-large {
	width: pxToRem(50px);
	height: pxToRem(50px);
}

//增减框
.quantity-form {
	display: inline-block;
	font-size: 0;

	.minus-btn,.plus-btn {
		display: inline-block;
		width: pxToRem(40px);
		height: pxToRem(40px);
		line-height: pxToRem(40px);
		text-align: center;
		font-size: pxToRem(30px);
		color: #262932;
		background: #c1c8e4;
		vertical-align: middle;

		&.active {
			background: #a1a7c0;
		}
	}

	.minus-btn {
		border-top-left-radius: pxToRem(2px);
		border-bottom-left-radius: pxToRem(2px);
	}

	.plus-btn {
		border-top-right-radius: pxToRem(2px);
		border-bottom-right-radius: pxToRem(2px);
	}

	input {
		width: pxToRem(100px);
		height: pxToRem(40px);
		background-color: #262932;
		border: pxToRem(1px) solid #c1c8e4;
		border-left: 0 none;
		border-right: 0 none;
		font-size: pxToRem(18px);
		vertical-align: middle;
		text-align: center;
		color: $yellow;
	}
}

// 弹窗
.dialog {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: url(../images/pic_dialog_overlay.png) repeat;
	z-index: 999;
	overflow-y: scroll;
	font-size: pxToRem(14px);

	//默认样式
	.simple-wrap {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: pxToRem(-135px);
		width: pxToRem(270px);
		border-radius: pxToRem(2px);
		background: $bg-back;
		color: $gray;

		.btn-box {

			padding-top: pxToRem(10px);
			text-align: center;

			.close-dialog-btn {
				display: inline-block;
				width: pxToRem(240px);
				height: pxToRem(40px);
				border-radius: pxToRem(5px);
				font-size: pxToRem(16px);
				line-height: pxToRem(40px);
				background: $orange;
				text-align: center;
				color: $white;

				&.active {
					background-color: #e85200;
				}

				&.close-style-1 {
					position: absolute;
					display: block;
					top: 0;
					right: pxToRem(5px);
					width: pxToRem(22px);
					height: pxToRem(35px);
					background: url(../images/icon_close_1.png) no-repeat 0 0;
					background-size: 100% 100%;
				}
			}
		}

		&.no-border {
			padding-top: pxToRem(35px);
			padding-right: 0;
			padding-left: 0;
			padding-bottom: 0;
			border-radius: 0;
			margin-left: pxToRem(-145px);
			width: pxToRem(290px);
			background: none;
		}
	}

	//顶部全屏
	.top-wrap {
		position: absolute;
		top:0;
		left:50%;
		width:pxToRem(320px);
		max-width: 640px;
		margin-left: pxToRem(-160px);
	}

	//居中透明
	.middle-wrap {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: pxToRem(-150px);
		margin-top: pxToRem(-150px);
		width: pxToRem(300px);
		height: pxToRem(300px);
		text-align: center;
	}
}

//主框架
.page {
	position: relative;
	margin: 0 auto;
	width: 100%;
	min-height: 100%;
	max-width: 640px;
	background-color: $bg-back;

	&.light {
		background-color: $bg-gray;
	}
}

//页面
.main {
	padding: pxToRem(10px) pxToRem(10px) pxToRem(60px);

	&.no-padding-rl {
		padding-left: 0;
		padding-right: 0;
	}
	&.no-padding-trl {
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
	}
}

/* create.html 发起比赛页 */
.c-header,.j-header {
	position: relative;
	padding: pxToRem(8px) pxToRem(10px) pxToRem(10px) pxToRem(64px);
	border-bottom: 1px dashed $border-color;

	.gravatar-large {
		position: absolute;
		top: pxToRem(8px);
		left: pxToRem(2px);
	}
}

//步骤
.c-steps,.j-steps {

	h3 {
		font-size: pxToRem(20px);
		height: pxToRem(50px);
		line-height: pxToRem(50px);
		color: $white;
		text-align: left;
		font-weight: normal;
	}

	p {
		padding-left: pxToRem(77px);
		font-size: pxToRem(14px);
		text-align: left;
		color: $white;
		em {
			font-style: normal;
			color: $orange;
		}
	}
}

//表单
.c-form-wrap,.j-form-wrap {

	dl {
		position: relative;
		padding-top: pxToRem(14px);
	}

	dt {
		font-size: pxToRem(12px);
		color: $gray;
	}

	dd {
		position: relative;
		padding: pxToRem(6px) 0;

		span {
			position: absolute;
			top: pxToRem(22px);
			z-index: 2;
			font-size: pxToRem(10px);
			color: $notice-color;
		}

		.c-text-date {
			right: pxToRem(38px);
		}
		.c-text-time {
			left: pxToRem(100px);
		}
		.c-text-person {
			left: pxToRem(28px);
		}
	}
}

//规则
.c-rule,.d-rule {
	h3 {
		padding-left: pxToRem(5px);
		border-left: pxToRem(2px) solid $orange;
		font-size: pxToRem(14px);
		height: pxToRem(14px);
		line-height: pxToRem(14px);
		color: $white;
		font-weight: normal;
	}

	article {
		padding: pxToRem(15px) 0;

		h4 {
			padding-left: pxToRem(5px);
			font-size: pxToRem(14px);
			font-weight: normal;
			line-height: pxToRem(14px);
			border-left: pxToRem(2px) solid $orange;
			color: $white;
		}
		p {
			margin: pxToRem(5px) 0 pxToRem(15px);
			padding-left: pxToRem(7px);
			font-size: pxToRem(12px);
			color: $light;
			line-height: pxToRem(16px);
		}
	}

	.erweima {
		margin: 0 auto;
		width: pxToRem(220px);

		span {
			display: block;
			line-height: pxToRem(30px);
			font-size: pxToRem(14px);
			color: $gray;
			text-align: center;
		}
	}
}

.c-btn-box,.j-btn-box {
	margin: pxToRem(24px) 0 pxToRem(30px);
}

.c-erweima {
	margin: pxToRem(20px) auto;
	width: pxToRem(200px);
	height: pxToRem(200px);	
}

/* join.html 推荐股票页 */
.j-steps {

	p.member-name {

		padding-left: 0;
		color: $gray;
	}
}

.j-fuzzy {
	display: none;
	position: absolute;
	top: pxToRem(54px);
	z-index:99;
	width:100%;

	li {
		padding: pxToRem(15px);
		background-color : #575e70;
		border-bottom: 1px solid #32353e;
		font-size: pxToRem(14px);
		color: $white;
		em {
			display: inline-block;
			margin-left: pxToRem(15px);
			padding: pxToRem(2px) pxToRem(8px);
			border: 1px solid $orange;
			color: $orange;
			font-style: normal;
		}
	}
}

.j-remark {
	padding-top: pxToRem(5px);
	font-size: pxToRem(12px);
	color: $light;
}

.j-link-deposit {
	float: right;
	color: $yellow;
}

.j-marking {
	display: none;

	.pic {
		position: absolute;
		top: pxToRem(-57px);
		left: pxToRem(1px);
		z-index: 99;
		width: pxToRem(284px);
		height: pxToRem(135px);
	}

	.marking {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 98;
		background-color: rgba(0,0,0,.8);
	}
}

/* detail.html 赛事详情页 */
//广告
.d-advert {
	position: relative;
	background: #f86b6b;
	text-align: center;
	height: pxToRem(44px);
	line-height: pxToRem(44px);
	overflow: hidden;

	a {
		position: absolute;
		left: 0;
		display: block;
		width: 100%;
		height: pxToRem(44px);
		color: $white;
		font-size: pxToRem(16px);
		font-weight: bold;
	}
}

.d-header {
	position: relative;
	margin-top: pxToRem(15px);
	h1 {
		font-size: pxToRem(20px);
		color: $white;

		em {
			margin-bottom: pxToRem(2px);
			margin-right: pxToRem(8px);
			display: inline-block;
			height: pxToRem(19px);
			width: pxToRem(2px);
			background-color: $orange;
			vertical-align: middle;
		}
	}
	a {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		width: pxToRem(65px);
		height: pxToRem(18px);
		line-height: pxToRem(18px);
		font-size: pxToRem(12px);
		text-align: center;
		background-color: #abb2c4;
		border-top-left-radius: pxToRem(18px);
		border-bottom-left-radius: pxToRem(18px);
		color: #242831;
	}
}

.d-creator {
	margin: 0 pxToRem(10px);
	padding: pxToRem(6px) 0 pxToRem(6px);
	color: #d1e1fa;
	border-bottom: 1px solid #353942;
}

.d-info {
	margin: 0 pxToRem(10px);
	padding: pxToRem(10px) 0 0;
	li {
		float:left;
		height: pxToRem(44px);
		&:first-child {
			width: pxToRem(135px);
			border-right: 1px solid #494e59;
		}
		&:last-child {
			padding-left: pxToRem(20px);
			width: pxToRem(165px);
		}
		dl {
			margin-bottom: pxToRem(12px);
			&:last-child {
				margin-bottom: 0;
			}
		}
		dt {
			color: $light;

			&.one-line {
				padding: pxToRem(12px) 0;
				font-size: pxToRem(16px);
			}
		}
		dd {
			color: $gray;
			&.countdown {
				color: $light;
				span {
					margin: 0 pxToRem(2px);
					font-size: pxToRem(16px);
					color: $gray;
					&:first-child {
						margin-left: 0;
					}
				}
			}
		}
	}

	.icon-hongbao {
		display: block;
		margin: pxToRem(3px) auto;
		width: pxToRem(35px);
		height: pxToRem(35px);
		background: url(../images/icon_packet.png) no-repeat 0 0;
		background-size: pxToRem(35px);
	}
	.hongbao-total {
		color: $gray;
		text-align: center;
		span {
			margin-right: pxToRem(3px);
			font-size: pxToRem(18px);
		}
	}
	.hongbao-remark {
		text-align: center;
		font-size: pxToRem(12px);
		color: $light;
	}
}

.d-progress {
	padding: pxToRem(15px) pxToRem(10px);
	border-bottom: 1px solid #353942;
	li {
		float: left;
		color: $gray;
		&:first-child {
			width: pxToRem(50px);
		}
		&:nth-child(2) {
			width: pxToRem(210px);
		}
		&:last-child {
			width: pxToRem(40px);
			text-align: right;
		}
	}
	.bar {
		position: relative;
		margin: pxToRem(5px) auto;
		width: pxToRem(200px);
		height: pxToRem(7px);
		background-color: #31353f;
		border-radius: pxToRem(4px);
		span {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: pxToRem(7px);
			border-radius: pxToRem(4px);
			background: -webkit-linear-gradient(left, #2fd8b2 , #4abbee);
  		background: -o-linear-gradient(right, #2fd8b2 , #4abbee);
 			background: -moz-linear-gradient(right, #2fd8b2 , #4abbee);
  		background: linear-gradient(to right, #2fd8b2 , #4abbee);
  		em {
  			display: block;
  			position: absolute;
  			top: pxToRem(-2px);
  			right: pxToRem(-5px);
  			width: pxToRem(11px);
  			height: pxToRem(11px);
  			border: pxToRem(2px) solid #4abbee;
  			border-radius: pxToRem(6px);
  			background-color: #fff;
  		}
		}
	}
}

.d-btn-wrap {
	height: pxToRem(74px);

	.d-btn-box {
		padding: pxToRem(15px);
		background-color: #262932;

		&.fixed {
			position: fixed;
			z-index: 109;
			width: 100%;
			max-width: 640px;
		}
	}
}

.d-list {
	padding: 0 0 pxToRem(10px);

	table {
		width: 100%;
		border-collapse: collapse;
	}
	th {
		padding: pxToRem(10px) 0;
		width: 25%;
		background-color: #343843;
		text-align: center;
		border-bottom: 1px solid #262932;
		color: $light;
	}
	td {
		padding: pxToRem(6px) 0 pxToRem(6px) pxToRem(10px);
		background-color: #313540;
		text-align: left;
		border-bottom: 1px solid #262932;
		color: $white;
		span {
			display: inline-block;
			width: 80%;

			&.stk-name,
			&.stk-person {
				display: inline;
				position: relative;
			}
		}


		span.stk-name em {

			display: inline-block;
			position: absolute;
			top: pxToRem(1px);
			right: pxToRem(-11px);
			width: 8px;
			height: 8px;
			background: url(../images/icon_text.png) no-repeat 0 0;
			background-size: 100% 100%;

		}

		span.stk-person i {

			display: inline-block;
			position: absolute;
			top: pxToRem(2px);
			right: pxToRem(-14px);
			width: pxToRem(12px);
			height: pxToRem(12px);
		}

		em {
			display: inline-block;
			width: pxToRem(20px);
			font-style: normal;
			text-align: left;
		}
		.iconfont {
			margin-left: pxToRem(14px);
			font-size: pxToRem(16px);
		}
	}
}

.d-marking {
	display: none;

	.pic {
		position: absolute;
		top: pxToRem(-58px);
		left: pxToRem(15px);
		z-index: 99;
		width: pxToRem(290px);
		height: pxToRem(150px);
	}

	.marking {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 98;
		background-color: rgba(0,0,0,.8);
	}
}

.stk-info {

	.info-top {
		padding: pxToRem(10px);
		background: #2c2f39;
	}

	.info {
		margin-left: pxToRem(5px);
		display: inline-block;
		width: pxToRem(205px);

		.name {
			font-size: pxToRem(14px);
			color: $white;
		}

		.cause {
			font-size: pxToRem(12px);
			color: $gray;
		}
	}

	ul {
			padding: pxToRem(10px) 0;
			border-top: 1px solid #353942;
			border-bottom: 1px solid #353942;

		li {
			float: left;
			width: 50%;
			text-align: center;

			&:first-child {
				border-right: 1px solid #353942;
			}

			dd {
				font-size: pxToRem(16px);
			}
		}
	}

	.comment {
		padding: pxToRem(10px) 0;
		h3 {
			margin-bottom: pxToRem(5px);
			font-size: pxToRem(14px);
			font-weight: 400;
			color: $gray;
		}
		article {
			color: $white;
		}
	}
}

/* list.html */
.l-item{
	margin: pxToRem(10px) 0 pxToRem(15px);
	padding-top: pxToRem(10px);
	background-color: #313540;
	border-radius: pxToRem(4px);
	color: $white;

	&.load-more {
		padding: 0;
		height: pxToRem(44px);
		line-height: pxToRem(44px);
		text-align: center;
	}
}

.item-header {
	position: relative;

	h2 {
		padding-left: pxToRem(8px);
		height: pxToRem(18px);
		line-height: pxToRem(18px);
		border-left: pxToRem(2px) solid $orange;
		font-size: pxToRem(18px);
		font-weight: normal;
	}
	span {
		display: block;
		position: absolute;
		top: pxToRem(1px);
		right: pxToRem(10px);
		font-size: pxToRem(14px);
	}
}

.item-content {
	position: relative;
	padding: pxToRem(15px) pxToRem(10px) pxToRem(10px) pxToRem(63px);
	height: pxToRem(85px);

	.gravatar {
		position: absolute;
		top: pxToRem(18px);
		left: pxToRem(10px);
		width: pxToRem(50px);
		height: pxToRem(50px);
		border: pxToRem(2px) solid #575a61;
		border-radius: 100%;
		overflow: hidden;
	}

	li{
		margin-bottom: pxToRem(2px);
		font-size: pxToRem(12px);
		position: relative;
		span {
			display: inline-block;
			width: pxToRem(66px);
			text-align: right;
		}
		.item-num-3 i {
			display: inline-block;
			width: pxToRem(6px);
		}
		.item-num-2 i{
			display: inline-block;
			width: pxToRem(23px);
		}

		&.item-date,&.item-time,&.item-kemp {
			font-size: pxToRem(12px);
			color: $gray;
		}
		&.item-kemp {
			position: relative;
			i {
				font-style: normal;
				margin-left: pxToRem(4px);
			}
			.stk {
				margin: 0;
				font-size: pxToRem(14px);
				color: $white;
			} 
			.PED {
				position: absolute;
				top: pxToRem(2px);
				right: 0;
			}
		}

		.prize-amount {
			width: auto;
			margin-left: pxToRem(2px);
			font-size: pxToRem(12px);
		}
	}
}

.item-footer {
	position: relative;
	padding: pxToRem(12px) 0;
	height: pxToRem(58px);
	background-color: #383c47;
	border-bottom-left-radius: pxToRem(4px);
	border-bottom-right-radius: pxToRem(4px);
	color: $gray;

	.content-wrap {
		position: relative;
		padding: 0 pxToRem(10px) 0 pxToRem(12px);
		height: pxToRem(34px);

		span {
			&.stk-name {
				margin-right: pxToRem(5px);
				font-size: pxToRem(14px);
				color: $white;
				vertical-align: baseline;
			}
			&.stk-code {
				font-size: pxToRem(12px);
				color: $blue;
			}
		}

		&.one-line {
			padding-top: pxToRem(8px);
			padding-bottom: pxToRem(8px);
			height: pxToRem(16px);
		}
	}
	
	.PE {
		display: block;
		position: absolute;
		bottom: 0;
		right: pxToRem(10px);
		margin-right: 0;
		text-align: right;
		font-size: pxToRem(14px);
	}
}

.l-null-data {
	
	margin: pxToRem(80px) auto;

	.smile-face {
		margin: 0 auto;
		width: 90px;
		height: 90px;
	}
	p{
		margin-top: pxToRem(10px);
		color: $gray;
		height: pxToRem(24px);
		line-height: pxToRem(24px);
		font-size: pxToRem(14px);
		text-align: center;
	}
	.btn-box {
		margin-top: pxToRem(80px);
		text-align: center;
	}
}

/* home.html */
.main.bg-home {
	background-color: #313540;
	height: 100%;
}

.h-header {
	position: relative;
	padding-left: pxToRem(80px);
	padding-top: pxToRem(1px);
	padding-bottom: pxToRem(15px);
	height: pxToRem(85px);
	color: $white;
	background-color: #262932;
	font-size: pxToRem(14px);
	.info {
		border-left: pxToRem(1px) dashed #323641;
		padding-left: pxToRem(15px);

		.name {

			span {
				font-size: pxToRem(12px);
				color: $gray;

				em {
					font-style: normal;
				}
			}
		}

		.like-cate {

			color: $gray;
			font-size: pxToRem(12px);

			span {
				display: inline-block;
				padding: 0 pxToRem(4px);
				border-radius: pxToRem(10px);
				font-size: pxToRem(12px);
			}

			span.text-yellow {				
				border: 1px solid $yellow;
			}
			span.text-blue {
				border: 1px solid $blue;
			}
		}

		.like-stk {
			padding: pxToRem(5px) 0;

			span {
				display: inline-block;
				padding: 0 pxToRem(4px);
				border-radius: pxToRem(10px);
				color: $orange;
				border: 1px solid $orange;
				font-size: pxToRem(12px);
			}
		}
		.number {
			color: $light;
			font-size: pxToRem(12px);

			
		}
		span {
			margin-right: pxToRem(4px);
			&:first-child {
				margin-left: pxToRem(4px);
			}
		}
		.name,.number,.like {
			margin-bottom: pxToRem(2px);
		}
	}

	.info.no-gamenum {
		.name {
			margin-top: pxToRem(10px);
		}
	}
	.gravatar {
		position: absolute;
		top: pxToRem(12px);
		left: pxToRem(15px);
		width: pxToRem(50px);
		height: pxToRem(50px);
		border: pxToRem(2px) solid #575a61;
		border-radius: 100%;
		overflow: hidden;
	}
}

.h-section {
	padding: pxToRem(20px) pxToRem(10px);
	background-color: #313540;
}

.h-tabs {
	margin: 0 auto;
	width: pxToRem(160px);
	font-size: pxToRem(12px);
	li {
		float: left;
		width: pxToRem(80px);
		padding: pxToRem(7px) pxToRem(6px);
		background-color: #2c2e3a;
		border: 1px solid #3c404b;
		text-align: center;
		color: #676e80;
		cursor: pointer;
		&:first-child {
			border-top-left-radius: pxToRem(5px);
			border-bottom-left-radius: pxToRem(5px);
		}
		&:last-child {
			border-top-right-radius: pxToRem(5px);
			border-bottom-right-radius: pxToRem(5px);
		}
		&.active {
			background-color: $blue;
			border-color: $blue;
			color: #083435;
		}
	}
}

.h-chart {
	margin: pxToRem(10px) auto;
	height: pxToRem(220px);
	overflow: hidden;

	.chart-box {
		display: none;
		margin: 0 auto;

		&.active {
			display: block;
		}
	}
	.chart-1 {
		position: relative;
		margin-top: pxToRem(20px);
		width: pxToRem(230px);
		height: pxToRem(170px);
		overflow: hidden;

		.more1 {
			position: absolute;
			bottom: 0;
			left: 50%;
			z-index: 10;
			margin-left: pxToRem(-55px);
			width: pxToRem(110px);
			height: pxToRem(88px);

			.txt1 {
				font-size: pxToRem(36px);
				color: $blue;
				text-align: center;

				i {
					font-style: normal;
					font-size: pxToRem(16px);
				}
			}
			.txt2 {
				font-size: pxToRem(12px);
				color: $light;
				text-align: center;
			}
			.txt3 {
				font-size: pxToRem(10px);
				color: $light;
				text-align: center;
			}

		}
	}
	.chart-2{
		position: relative;
		width: pxToRem(220px);
		height: pxToRem(220px);

		.more2 {
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 10;
			margin-left: pxToRem(-50px);
			margin-top: pxToRem(-44px);
			width: pxToRem(100px);
			height: pxToRem(88px);

			.txt1 {
				font-size: pxToRem(16px);
				color: #fff;
				text-align: center;
			}
			.txt2 {
				font-size: pxToRem(30px);
				color: $blue;
				text-align: center;
				i {
					font-style: normal;
					font-size: pxToRem(16px);
				}
			}
			.txt3 {
				color: $light;
				text-align: center;
			}
		}
	}
}

.h-btn-box {
	padding: pxToRem(10px) 0;
	text-align: center;

	.btn:first-child {
		margin-right: pxToRem(15px);
	}
}

.h-marking {
	display: none;

	.pic {
		position: absolute;
		top: pxToRem(92px);
		left: pxToRem(12px);
		z-index: 99;
		width: pxToRem(191px);
		height: pxToRem(177px);
	}

	.marking {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 98;
		background-color: rgba(0,0,0,.8);
	}
}

//ranking.html
.r-banner {
	width: pxToRem(320px);
	height: pxToRem(75px);
}

.r-own {
	margin: pxToRem(15px) pxToRem(10px);
	padding-top: pxToRem(10px);
	background-color: #313540;
	border-radius: pxToRem(4px);
	color: $white;
}

.own-header {
	h2 {
		padding-left: pxToRem(8px);
		height: pxToRem(18px);
		line-height: pxToRem(18px);
		border-left: pxToRem(2px) solid $orange;
		font-size: pxToRem(18px);
		font-weight: normal;
	}
}

.own-content {
	padding: pxToRem(10px);

	.gravatar {
		float: left;
		width: pxToRem(50px);
		height: pxToRem(50px);
		border: pxToRem(2px) solid #575a61;
		border-radius: 100%;
		overflow: hidden;
	}

	dd {
		float: left;

		&.r-name {
			margin-left: pxToRem(5px);
			width: pxToRem(105px);

			h2 {
				padding-top: pxToRem(6px);
				line-height: pxToRem(20px);
				font-size: pxToRem(14px);
				font-weight: 400;
			}

			span {
				display: block;
				line-height: pxToRem(18px);
				font-size: pxToRem(12px);
				color: $light;

				em {
					margin-right: pxToRem(2px);
					font-style: normal;
					color: $yellow;
				}
			}
		}

		&.r-yield {
			margin-top: pxToRem(8px);
			width: pxToRem(60px);
			text-align: center;

			&.r-gain {
				margin-left: 0;
				border-left: 1px solid #535864;
			}

			h2 {
				line-height: pxToRem(14px);
				font-size: pxToRem(12px);
				font-weight: 400;
				color: $gray;
			}

			span {
				display: block;
				margin-top: pxToRem(6px);
				line-height: pxToRem(16px);
				font-size: pxToRem(16px);
				color: $blue;
				text-align: center;
			}
		}
	}
}

//wallet.html
.w-header	{
	position: relative;
	padding: pxToRem(15px) pxToRem(10px) 0;
	width: pxToRem(320px);
	height: pxToRem(176px);
	background: url(../images/bg_wallet.jpg) no-repeat 0 0;
	background-size: 100% 100%;
	color: #6f5504;
	text-align: center;

	.w-title {

		h1 {
			line-height: pxToRem(14px);
			font-size: pxToRem(12px);
			font-weight: 400;
		}
	}

	.w-niubi {

		padding: pxToRem(6px) 0 pxToRem(2px);
		line-height: pxToRem(40px);
		font-size: pxToRem(40px);
	}

	.w-cash {
		line-height: pxToRem(20px);
		font-size: pxToRem(12px);

	}

	.w-journal-link {
		position: absolute;
		top: pxToRem(10px);
		right: pxToRem(10px);
		display: block;
		width: pxToRem(65px);
		height: pxToRem(24px);
		line-height: pxToRem(22px);
		font-size: pxToRem(12px);
		border: pxToRem(1px) solid #b9970d;
		border-radius: pxToRem(12px);
		color: #6f5504;

		&.active {
			border-color: #6f5504;
		}
	}

	.w-btn-box {
		padding: pxToRem(10px) 0;
	}

	.btn {
		width: pxToRem(200px);
	}
}

.w-task-wrap {

	margin-top: pxToRem(15px);

	.task-thead {
		padding: 0 pxToRem(10px);
		height: pxToRem(30px);
		line-height: pxToRem(30px);
		color: #a8b1c7;
		background: #343843;
		font-size: pxToRem(14px);
	}

	.task-tr {
		display: block;
		padding: pxToRem(15px) pxToRem(10px) pxToRem(15px) pxToRem(55px);
		border-top: pxToRem(1px) solid #262932;
		background-color: #31353f;
		background-repeat: no-repeat;
		background-size: pxToRem(25px) pxToRem(25px);
		background-position: pxToRem(15px) center;

		&.icon-1 {
			border-left: pxToRem(2px) solid #ff5757;
			background-image: url(../images/icon_task_1.png);
		}

		&.icon-2 {
			border-left: pxToRem(2px) solid #ab5cfc;
			background-image: url(../images/icon_task_2.png);
		}

		&.icon-3 {
			border-left: pxToRem(2px) solid #0bdcbc;
			background-image: url(../images/icon_task_3.png);
		}

		&.icon-4 {
			border-left: pxToRem(2px) solid #fff557;
			background-image: url(../images/icon_task_4.png);
		}
	}

	.left {

		h2 {
			line-height: pxToRem(20px);
			font-size: pxToRem(14px);
			font-weight: 400;
			color: #fff;
		}

		span {
			line-height: pxToRem(16px);
			font-size: pxToRem(12px);
			color: #d4e0fa;
		}
	}

	.right {

		.btn {
			width: pxToRem(80px);
			height: pxToRem(36px);
			line-height: pxToRem(36px);
		}
	}
}

//deposit.html
.de-advert {
	position: relative;
	height: pxToRem(75px);
	width: pxToRem(320px);
	overflow: hidden;
}

.de-wrap {
	padding: pxToRem(15px) pxToRem(10px);

	.de-header {
		padding-left: pxToRem(24px);
		color: #fff;
		font-size: pxToRem(14px);
		background: url(../images/icon_niubi_1.png) no-repeat 0 center;
		background-size: pxToRem(17px) pxToRem(17px);
	}

	.de-container {
		padding-top: pxToRem(15px);
	}

	.de-goods {
		display: block;
		float: left;
		margin-right: pxToRem(7.5px);
		margin-bottom: pxToRem(7.5px);
		padding-bottom: pxToRem(10px);
		width: pxToRem(95px);
		border-radius: pxToRem(6px);
		border: pxToRem(1px) solid #4d5360;
		background: #31353f;
		
		&:nth-child(3n) {
			margin-right: 0;
		}

		.goods-name {
			padding: pxToRem(8px) 0 pxToRem(4px);
			line-height: pxToRem(26px);
			font-size: pxToRem(26px);
			color: #ffc600;
			text-align: center;

			span {
				font-size: pxToRem(12px);
				color: #fff;
			}
		}

		.goods-price {
			padding: pxToRem(2px) 0;
			font-size: pxToRem(14px);
			text-align: center;
			background: #4d5360;
			color: #d4e0fa;
		}

		&.active {
			border-color: #ffc600;

			.goods-name {

				span {
					color: #ffc600;
				}
			}

			.goods-price {
				color: #705702;
				background: #ffc600;
			}
		}
	}
}

//journal.html
.jo-advert {
	height: pxToRem(75px);
	background: url(../images/pic_banner.jpg) no-repeat 0 0;
	background-size: 100%;
}

.jo-wrap {
	padding-top: pxToRem(15px);

	.jo-tabs {
		margin: 0 auto;
		width: pxToRem(280px);
		font-size: pxToRem(12px);
		li {
			float: left;
			width: pxToRem(140px);
			padding: pxToRem(7px) pxToRem(6px);
			background-color: #2c2e3a;
			border: 1px solid #3c404b;
			text-align: center;
			color: #676e80;
			cursor: pointer;
			&:first-child {
				border-top-left-radius: pxToRem(5px);
				border-bottom-left-radius: pxToRem(5px);
			}
			&:last-child {
				border-top-right-radius: pxToRem(5px);
				border-bottom-right-radius: pxToRem(5px);
			}
			&.active {
				background-color: $blue;
				border-color: $blue;
				color: #083435;
			}
		}
	}

	.jo-container {
		margin: pxToRem(15px) auto 0;

		.jo-box {
			display: none;
			margin: 0 auto;

			&.active {
				display: block;
			}

			.jo-tr {
				padding: pxToRem(15px) pxToRem(10px);
				background: #31353f;
				border-top: 1px solid #262932;
			}

			.jo-thead {
				padding: pxToRem(10px);
				line-height: pxToRem(16px);
				color: #a8b1c7;
				background: #343843;
				font-size: pxToRem(14px);

				span {
					font-size: pxToRem(16px);
					color: #ffc600;
				}
			}

			.left {

				h2 {
					line-height: pxToRem(20px);
					font-size: pxToRem(14px);
					font-weight: 400;
					color: #fff;
				}

				span {
					line-height: pxToRem(16px);
					font-size: pxToRem(12px);
					color: #d4e0fa;
				}
			}

			.right {

				span {
					line-height: pxToRem(36px);
					color: #ffc600;
					font-size: pxToRem(16px);

					&.loss {
						color: #fff;
					}
				}
			}
		}
	}
}

//荐股表格
.r-list {
	padding: 0 0 pxToRem(10px);
	table {
		width: 100%;
		border-collapse: collapse;
	}
	th {
		padding: pxToRem(10px) 0;
		background-color: #343843;
		text-align: center;
		border-bottom: 1px solid #262932;
		color: $light;
		&.col-1 {
			width: pxToRem(40px);
		}
		&.col-2 {
			width: pxToRem(150px);
		}
		&.col-3 {
			width: pxToRem(50px);
		}
		&.col-4 {
			width: pxToRem(80px);
		}
		span {
			display: inline-block;
			width: 80%;
		}
	}
	td {
		padding: pxToRem(12px) 0;
		background-color: #313540;
		text-align: center;
		border-bottom: 1px solid #262932;
		color: $white;
		span {
			display: block;
			padding-right: pxToRem(10px);
			font-size: pxToRem(12px);
		}
	}
	.list-content {

		.gravatar {
			float: left;
			width: pxToRem(40px);
			height: pxToRem(40px);
			border: pxToRem(2px) solid #575a61;
			border-radius: 100%;
			overflow: hidden;
		}

		dd {
			float: left;

			&.r-name {
				margin-left: pxToRem(5px);

				h2 {
					padding-top: pxToRem(1px);
					line-height: pxToRem(20px);
					font-size: pxToRem(14px);
					font-weight: 400;
					text-align: left;
				}

				span {
					display: block;
					width: 100%;
					line-height: pxToRem(18px);
					font-size: pxToRem(12px);
					color: $light;

					em {
						margin-right: pxToRem(2px);
						font-style: normal;
						color: $yellow;
					}
				}
			}
		}
	}
}

//荐股底部的分享按钮
.r-footer-btn-box {
	position: fixed;
	bottom: 0;
	left: 0;
	padding: pxToRem(10px);
	width: 100%;
	background-color: #262932;
}

//回到顶部
.goto-top {
	position: fixed;
	right: pxToRem(10px);
	bottom: pxToRem(74px);
	width: pxToRem(44px);
	height: pxToRem(44px);
	text-indent: -9999em;
  background: url(../images/icon_top.png) no-repeat 0 0;
  background-size: pxToRem(44px) pxToRem(44px);
  z-index: 999;
}

//底部菜单
footer {
	position: fixed;
	bottom: 0;
	z-index:199;
	width: 100%;
	max-width: 640px;
	li {
		float: left;
		width: 25%;
		height: pxToRem(50px);
		line-height: pxToRem(50px);
		background-color: $bg-nav;
		font-size: pxToRem(14px);
		text-align: center;
		border-right: 1px solid $border-color;
		cursor: pointer;
		&:last-child {
			border-right: 0 none;
		}
		a {
			color: #afb9d0;

			&.active {
				color: $white;
			}
		}
		&:focus,&:active,&:visited {
			background-color: #31333f;
		}
	}
}

.pop-up-lock body {
	overflow: hidden !important;
}

//微信分享提示
.top-wrap.wx-share{
		background: #fff;

	 .text {
			padding: pxToRem(10px);
			font-size: pxToRem(14px);
			color: $orange;
		}
}
.top-wrap.wx-share .arrows {
	position: absolute;
	top: pxToRem(5px);
	right: pxToRem(10px);
	width: 30px;
	height: 30px;
}

// 关注公众号二维码
.wx-attention {
	.close {
		width: pxToRem(20px);
		height: pxToRem(20px);
		position: absolute;
		top: pxToRem(15px);
		right: pxToRem(15px);
		background: url(../images/icon_close.png) no-repeat 0 0;
		background-size: 100%;
	}
	.title1 {
		margin-top: pxToRem(20px);
		font-size: pxToRem(20px);
		color: $gray;
		text-align: center;
	}
	.title2 {
		margin-top: pxToRem(10px);
		font-size: pxToRem(14px);
		color: $light;
		text-align: center;
	}
	.erweima {
		margin: pxToRem(20px) auto;
		width: pxToRem(200px);
		height: pxToRem(200px);
	}
}



//加载动画
.ajax-loading {

	  position: fixed;
	  top: 45%;
	  left: 50%;
	  margin-top: pxToRem(-30px);
	  margin-left: pxToRem(-30px);
	  width: pxToRem(60px);
	  height: pxToRem(60px);
	  z-index: 9999;

	&.simple {
		position: relative;
		margin: 0 auto;
		top: pxToRem(12px);
		left: 0;
		width: pxToRem(20px);
		height: pxToRem(20px);
	}
 
	.circle-a, .circle-b {
	  width: 100%;
	  height: 100%;
	  border-radius: 50%;
	  background-color: $gray;
	  opacity: 0.6;
	  position: absolute;
	  top: 0;
	  left: 0;
	  -moz-transform: scale(0.0);
	  -o-transform: scale(0.0);
	  -ms-transform: scale(0.0);
	  -webkit-transform: scale(0.0);
	  transform: scale(0.0);
	   
	  -moz-animation: bounce 2.0s infinite ease-in-out;
	  -o-animation: bounce 2.0s infinite ease-in-out;
	  -ms-animation: bounce 2.0s infinite ease-in-out;
	  -webkit-animation: bounce 2.0s infinite ease-in-out;
	  animation: bounce 2.0s infinite ease-in-out;

	  -moz-animation-delay: 0.5s;
	  -o-animation-delay: 0.5s;
	  -ms-animation-delay: 0.5s;
	  -webkit-animation-delay: 0.5s;
	  animation-delay: 0.5s;
	}
 
	.circle-b {
	  -moz-animation-delay: 1.5s;
	  -o-animation-delay: 1.5s;
	  -ms-animation-delay: 1.5s;
	  -webkit-animation-delay: 1.5s;
	  animation-delay: 1.5s;
	}

	@-moz-keyframes bounce {
	  0%, 100% { -moz-transform: scale(0.0) }
	  50% { -moz-transform: scale(1.0) }
	}

	@-o-keyframes bounce {
	  0%, 100% { -o-transform: scale(0.0) }
	  50% { -o-transform: scale(1.0) }
	}

	@-ms-keyframes bounce {
	  0%, 100% { -ms-transform: scale(0.0) }
	  50% { -ms-transform: scale(1.0) }
	}
	 
	@-webkit-keyframes bounce {
	  0%, 100% { -webkit-transform: scale(0.0) }
	  50% { -webkit-transform: scale(1.0) }
	}
	 
	@keyframes bounce {
	  0%, 100% {
	    transform: scale(0.0);
	    -webkit-transform: scale(0.0);
	  } 50% {
	    transform: scale(1.0);
	    -webkit-transform: scale(1.0);
	  }
	}
}

//数据加载失败
.ajax-fail {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: pxToRem(-22px);
	margin-left: pxToRem(-80px);
	z-index: 9999;
	border: 1px solid #222;

	span {
		display: block;
		width: pxToRem(160px);
		height: pxToRem(44px);
		background-color: #383c47;
		color: $white;
		text-align: center;
		line-height: pxToRem(44px);
		border: 1px solid #444;
		font-size: pxToRem(12px);
	}
}

//仪表图
.chart-board {

	position: relative;
	width: pxToRem(220px);
	height: pxToRem(220px);
  border-radius: 50%;
	background: url(../images/bg_chart_board.jpg) repeat-y 0 0;
	background-size: 100% auto;

	.content {
		position: absolute;
		top: pxToRem(5px);
		left: pxToRem(5px);
		width: pxToRem(210px);
		height: pxToRem(210px);
		border-radius: 50%;
		background-color: #313540;
	}
	.rote {
		position: absolute;
		top:pxToRem(80px);
		z-index: 2;
		left:0;
		width: 0;
		height: 0;
		border-right-width: pxToRem(110px);
		border-left-width: pxToRem(110px);
		border-bottom-width: pxToRem(90px);
		border-top-width: 0;
		border-style: solid;
		border-color: transparent transparent #313540 transparent;

	}
	.rote:after {
		display: block;
		position: absolute;
		top:pxToRem(89px);
		left:pxToRem(-110px);
		z-index: 99;
		width: pxToRem(220px);
		height: pxToRem(220px);
		background-color: #313540;
		content: '';
	}
	.simple {
		position: absolute;
		z-index: 1;
		top: pxToRem(25px);
		left: pxToRem(25px);
		width: pxToRem(170px);
		height: pxToRem(170px);
	}
	.t1,.t2,.t3,.t4,.t5,.t6,.t7,.t8,.t9 {
		display: inline-block;
		color: #8990a0;
		position: absolute;
		font-weight: 700;
		font-size: pxToRem(8px);
	}
	.t1 {
		top: pxToRem(125px);
		left: pxToRem(5px);
		transform:rotate(-102deg);
		-webkit-transform:rotate(-102deg); 
	}
	.t2 {
		top: pxToRem(82px);
		left: pxToRem(1px);
		transform:rotate(-75deg);
		-webkit-transform:rotate(-75deg); 
	}
	.t3 {
		top: pxToRem(49px);
		left: pxToRem(23px);
		transform:rotate(-51deg);
		-webkit-transform:rotate(-51deg); 
	}
	.t4 {
		top: pxToRem(22px);
		left: pxToRem(48px);
		transform:rotate(-29deg);
		-webkit-transform:rotate(-29deg); 
	}
	.t5 {
		top: pxToRem(11px);
		left: pxToRem(105px);
		transform:rotate(0deg);
		-webkit-transform:rotate(0deg); 
	}
	.t6 {
		top: pxToRem(20px);
		left: pxToRem(135px);
		transform:rotate(23deg);
		-webkit-transform:rotate(23deg); 
	}
	.t7 {
		top: pxToRem(49px);
		left: pxToRem(175px);
		transform:rotate(51deg);
		-webkit-transform:rotate(51deg); 
	}
	.t8 {
		top: pxToRem(87px);
		left: pxToRem(195px);
		transform:rotate(79deg);
		-webkit-transform:rotate(79deg); 
	}
	.t9 {
		top: pxToRem(127px);
		left: pxToRem(190px);
		transform:rotate(106deg);
		-webkit-transform:rotate(106deg); 
	}

	.chart-pie {
	 width:pxToRem(170px); 
	 height:pxToRem(170px); 
	 background-color:#686f81;
	 border-radius:pxToRem(170px);
	 position:absolute;
	}
	.chart-pie1 { 
		clip:rect(0px,pxToRem(170px),pxToRem(170px),pxToRem(85px)); 
		-o-transform : rotate(0deg);
		-moz-transform : rotate(0deg);
		-webkit-transform : rotate(0deg);
	}
	.chart-pie2 { 
		clip:rect(0px,pxToRem(85px),pxToRem(170px),0px); 
		-o-transform : rotate(-292deg);
		-moz-transform : rotate(-292deg);
		-webkit-transform : rotate(-292deg);
	}
	.chart-hold {
		 width:pxToRem(170px); 
		 height:pxToRem(170px);
		 position:absolute;
		 z-index:1;
		}
	.chart-hold1 { clip:rect(0px,pxToRem(170px),pxToRem(170px),pxToRem(85px)); }
	.chart-hold2 { clip:rect(0px,pxToRem(85px),pxToRem(170px),0px); }
	.chart-bg { 
		width:pxToRem(170px); 
		height:pxToRem(170px); 
		background-color:#00fcff; 
		border-radius:pxToRem(170px); 
		position:absolute; 
	}
	.chart-mark { 
		width:pxToRem(164px); 
		height:pxToRem(164px); 
		margin:pxToRem(3px) 0 0 pxToRem(3px); 
		background-color:#313540;
		border-radius:pxToRem(164px);
		position:absolute; 
		z-index:1; 
	}
}

//广告轮播
.swiper-container {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url(../images/bg_container.jpg) no-repeat center center #eee;
  background-size: auto 100%;
}
.swiper-container-no-flexbox .swiper-slide {
  float: left;
}
.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  -moz-transform: translate3d(0px, 0, 0);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}
.swiper-container-multirow > .swiper-wrapper {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}
.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
}
.swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
}
.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}
/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
  touch-action: pan-x;
}
/* Arrows */
.swiper-button-prev,
.swiper-button-next {
  display: none;
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto;
}
.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto;
}
.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}
/* Pagination Styles */
.swiper-pagination {
  position: absolute;
  text-align: center;
  /* -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms; */
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); 
  z-index: 10;
}
.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}
.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2;
}
button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}
.swiper-pagination-white .swiper-pagination-bullet {
  background: #fff;
}
.swiper-pagination-bullet-active {
  opacity: 0.8;
  background: #fff;
}
.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #fff;
}
.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000;
}
.swiper-container-vertical > .swiper-pagination {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
  -moz-transform: translate3d(0px, -50%, 0);
  -o-transform: translate(0px, -50%);
  -ms-transform: translate3d(0px, -50%, 0);
  transform: translate3d(0px, -50%, 0);
}
.swiper-container-vertical > .swiper-pagination .swiper-pagination-bullet {
  margin: 5px 0;
  display: block;
}
.swiper-container-horizontal > .swiper-pagination {
  bottom: 2px;
  left: 0;
  width: 100%;
}
.swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet {
  margin: 0 3px;
}
/* 3D Container */
.swiper-container-3d {
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
}
.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Firefox 16+, IE10, Opera 12.50+ */
}
.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Firefox 16+, IE10, Opera 12.50+ */
}
.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Firefox 16+, IE10, Opera 12.50+ */
}
.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  /* Firefox 16+, IE10, Opera 12.50+ */
}
/* Coverflow */
.swiper-container-coverflow .swiper-wrapper {
  /* Windows 8 IE 10 fix */
  -ms-perspective: 1200px;
}
/* Fade */
.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.swiper-container-fade .swiper-slide {
  pointer-events: none;
}
.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}
.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}
/* Cube */
.swiper-container-cube {
  overflow: visible;
}
.swiper-container-cube .swiper-slide {
  pointer-events: none;
  visibility: hidden;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible;
}
.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: 0;
}
/* Scrollbar */
.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1);
}
.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%;
}
.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%;
}
.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0;
}
.swiper-scrollbar-cursor-drag {
  cursor: move;
}
/* Preloader */
.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  -moz-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  -moz-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  animation: swiper-preloader-spin 1s steps(12, end) infinite;
}
.swiper-lazy-preloader:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}
.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes swiper-preloader-spin {
  100% {
    transform: rotate(360deg);
  }
}