@charset "UTF-8";
/* 
*H5公共样式，用于所有H5开发页面 */
html { font-family: "Microsoft Yahei", "Hiragino Sans GB","Helvetica Neue", Helvetica, Arial, sans-serif; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

* { box-sizing: border-box; }

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, fieldset, button, input, textarea, th, td, div { margin: 0; padding: 0; border: 0; }

body { font-family: inherit; font-size: 14px; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; margin: 0; padding: 0; }

audio, canvas, progress, video { display: inline-block; vertical-align: baseline; margin: 0; padding: 0; }

b, strong { font-weight: bold; }

small { font-size: 80%; }

code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

button, input, optgroup, select, textarea { margin: 0; font: inherit; color: inherit; }

button { overflow: visible; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: none; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner { padding: 0; border: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

fieldset { padding: .35em .625em .75em; margin: 0 2px; border: 1px solid #ddd; }

legend { padding: 0; border: 0; }

textarea { overflow: auto; }

optgroup { font-weight: bold; }

table { border-spacing: 0; border-collapse: collapse; }

td, th { padding: 0; }

body, input, select, textarea, button { /*字体变清晰*/ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.fontSTsong { font-family: "NSimSun","SimSun","STSong","FangSong","FangSong_GB2312" !important; }

ol, ul { list-style: none; }

table { border-collapse: collapse; }

td, th { text-align: left; font-weight: 400; vertical-align: middle; }

a, a:hover, a:focus { text-decoration: none; -webkit-tap-highlight-color: transparent; -moz-tap-highlight-color: transparent; -o-tap-highlight-color: transparent; tap-highlight-color: transparent; }

img { width: 100%; border: 0 none; -ms-interpolation-mode: bicubic; }

input:focus, textarea:focus, select:focus, button:focus, a:focus { outline: 0; }

.clearfix:after, .clearfix:before { content: "."; display: block; font-size: 0; height: 0; line-height: 0; overflow: hidden; visibility: hidden; width: 0; }

.clearfix:after { clear: both; }

.clearfix { zoom: 1; }

/*---common style ---*/
.app-table { display: table; }

.app-tr { display: table-row; }

.app-td { display: table-cell; }

html { font-size: 100px; }

@media only screen and (min-width: 401px) { html { font-size: 125px; } }
@media only screen and (min-width: 428px) { html { font-size: 133.75px; } }
@media only screen and (min-width: 481px) { html { font-size: 150px; } }
@media only screen and (min-width: 569px) { html { font-size: 175px; } }
@media only screen and (min-width: 641px) { html { font-size: 200px; } }
html, body { min-height: 100%; }

body { margin: 0 auto; width: 100%; max-width: 640px; color: #333; }

html { min-height: 100%; }

body { background-color: #f7f7f7; min-height: 100%; }

.page { margin: 0 auto; width: 100%; max-width: 640px; min-width: 320px; min-height: 100%; font-size: 0.14rem; }

.btn { display: inline-block; width: 100%; height: 0.44rem; line-height: 0.44rem; border: 0 none; border-radius: 0.02rem; background: #ff5a00; color: #fff; font-size: 0.16rem; font-weight: 400; cursor: pointer; }

.btn { text-align: center; }

.btn:disabled { background: #ccc; color: #333; cursor: default; }

.form-wrap { padding: 0; }

.form-box { position: relative; padding: 0.1rem 0; }

.form-text { display: block; padding: 0 0.05rem; width: 100%; height: 0.44rem; border: 1px solid #ccc; background: #fff; font-size: 0.16rem; font-weight: 400; color: #333; -webkit-appearance: none; }

.form-text.focus, .form-text:focus { border: 1px solid #ff5a00; }

.form-error { min-height: 0.36rem; line-height: 0.36rem; font-size: 0.14rem; color: #ff5a00; text-align: left; }

.form-eyes { display: block; position: absolute; top: 0.18rem; right: 0.1rem; z-index: 99; width: 0.25rem; height: 0.25rem; background: url(../images/icon_eyes_close.png) no-repeat 0 0; -webkit-background-size: 100% 100%; background-size: 100% 100%; }
.form-eyes.active { background: url(../images/icon_eyes_open.png) no-repeat 0 0; -webkit-background-size: 100% 100%; background-size: 100% 100%; }

.btn-box { padding: 0.1rem 0; }

.text-red { color: #fe0002; }

.text-green { color: #009900; }

.hide { display: none; }

.card-wrap { padding: 0.4rem 0.2rem; }

.card-box { background: #fff; border: 1px solid #ddd; border-radius: 0.02rem; box-shadow: 1px 1px 3px #ddd; }

.card-header { padding: 0.1rem; vertical-align: middle; }
.card-header img { display: inline-block; width: 0.18rem; height: 0.18rem; overflow: hidden; vertical-align: middle; }
.card-header h3 { display: inline-block; margin-left: 0.05rem; line-height: 0.18rem; font-size: 0.14rem; font-weight: 400; color: #666; vertical-align: middle; }

.card-container { padding: 0 0.1rem; }
.card-container .user-img { position: relative; margin: 0 auto; width: 0.7rem; height: 0.7rem; overflow: hidden; border: 0.02rem solid #ddd; border-radius: 0.35rem; }
.card-container .user-name { padding: 0.1rem 0; font-size: 0.2rem; font-weight: 400; line-height: 0.2rem; color: #333; text-align: center; }
.card-container .user-name img { width: 0.14rem; height: 0.14rem; }
.card-container .user-intro { padding: 0 0 3%; font-size: 0.14rem; line-height: 0.18rem; color: #999; }

.card-footer { padding: 0.1rem; background: #f2f2f2; }
.card-footer .content { height: 0.2rem; line-height: 0.2rem; text-align: center; }
.card-footer .content i { display: inline-block; margin-right: 0.02rem; width: 0.2rem; height: 0.2rem; vertical-align: middle; }
.card-footer .content i.icon-1 { background: url(../images/icon_ptf.png) no-repeat 0 0; background-size: 100%; }
.card-footer .content i.icon-2 { background: url(../images/icon_yieid.png) no-repeat 0 0; background-size: 100%; }
.card-footer .content span { margin: 0 0.02rem; color: #ff5a00; font-size: 0.14rem; }

.card-footer-text { padding: 0.1rem; color: #999; font-size: 0.14rem; text-align: center; }

.card-btn-box { margin-top: 0.4rem; }

.adviser-header { width: 100%; height: 1.2rem; background: url(../images/bg_adviser.png) no-repeat 0 0; background-size: 100% 100%; overflow: hidden; }
.adviser-header .user-img { position: relative; margin: 0.16rem 0 0 0.15rem; float: left; width: 0.8rem; height: 0.8rem; overflow: hidden; }
.adviser-header .user-img span { display: block; }
.adviser-header .user-img span.img { width: 0.8rem; height: 0.8rem; overflow: hidden; border-radius: 100%; border: 0.03rem solid #888; background: url(../../common/images/pic_user.png) no-repeat 0 0; background-size: 100% 100%; }
.adviser-header .user-img span.vip { position: absolute; bottom: 0; right: 0; width: 0.18rem; height: 0.18rem; }
.adviser-header .adviser-info { float: left; margin-top: 0.24rem; padding-left: 0.1rem; width: 65%; }
.adviser-header .adviser-info .adviser-name { font-size: 0.18rem; color: #333; }
.adviser-header .adviser-info .adviser-name img { width: 0.14rem; height: 0.14rem; }
.adviser-header .adviser-info .adviser-company { margin-top: 0.03rem; font-size: 0.14rem; color: #666; }
.adviser-header .adviser-info .adviser-like { margin-top: 0.03rem; font-size: 0.12rem; line-height: 0.16rem; color: #666; }

.advier-grade { padding: 0.1rem 0; background: #fff; }
.advier-grade li { float: left; width: 33.33333%; }
.advier-grade li span { display: block; text-align: center; }
.advier-grade li span.grade-content { font-size: 0.12rem; color: #999; line-height: 1.428; }
.advier-grade li span.grade-tag { font-size: 0.2rem; color: #666; line-height: 1.428; }

.adviser-intro { padding: 0.1rem; margin-top: 0.1rem; background: #fff; }
.adviser-intro h2 { font-size: 0.14rem; }
.adviser-intro .intro-content { padding: 0.05rem 0 0; line-height: 1.428; color: #666; }

.adviser-echart { padding: 0.1rem 0; margin-top: 0.1rem; background: #fff; }
.adviser-echart .echart-grade { padding-bottom: 0.1rem; background: #fff; border-bottom: 1px solid #dedede; }
.adviser-echart .echart-grade li { float: left; width: 33.33333%; }
.adviser-echart .echart-grade li span { display: block; text-align: center; }
.adviser-echart .echart-grade li span.echart-content { font-size: 0.12rem; color: #999; line-height: 1.428; }
.adviser-echart .echart-grade li span.echart-tag { line-height: 1.428; }
.adviser-echart .echart-tabs { padding: 0.1rem 0 0; border-bottom: 1px solid #dedede; }
.adviser-echart .echart-tabs li { float: left; width: 50%; text-align: center; color: #666; cursor: pointer; -webkit-tap-highlight-color: transparent; }
.adviser-echart .echart-tabs li span { display: inline-block; line-height: 2; }
.adviser-echart .echart-tabs li.active span { color: #ff5a00; border-bottom: 2px solid #ff5a00; }
.adviser-echart .echart-box { position: relative; width: 3.2rem; height: 1.8rem; overflow: hidden; }
.adviser-echart .echart-box .echart-content { position: absolute; left: 3.2rem; width: 3.2rem; height: 1.8rem; }
.adviser-echart .echart-box .echart-content.current { left: 0; }
.adviser-echart .echart-box .echart-content .echart-line { width: 100%; height: 1.8rem; }
.adviser-echart .echart-box .echart-content .echart-text { position: absolute; top: 0; left: 0; z-index: 2; display: none; width: 100%; line-height: 1.8rem; text-align: center; color: #999; font-size: 0.14rem; }

.adviser-footer { padding: 0.1rem; }
.adviser-footer .footer-text { padding-bottom: 0.1rem; font-size: 0.14rem; color: #666; }
.adviser-footer .footer-user { padding: 0.1rem 0; font-size: 0.12rem; text-align: center; }
.adviser-footer .footer-user a { margin: 0 0.05rem; }

.valid-wrap { padding: 0.4rem 0.2rem 0.2rem; }
.valid-wrap .img { margin: 0 auto; padding: 0.1rem 0; width: 1.5rem; height: 1.5rem; }
.valid-wrap .valid-text { margin-bottom: 0.2rem; font-size: 0.16rem; color: #333; text-align: center; }

.get-captcha .form-text { float: left; width: 1.5rem; }
.get-captcha .btn { float: right; width: 1.2rem; }

.info-wrap { padding: 0.2rem; }

.info-text { margin-bottom: 0.2rem; line-height: 0.24rem; font-size: 0.16rem; }

.result-wrap { padding: 0.2rem; }
.result-wrap .img { margin: 0 auto; padding: 0.2rem 0 0; width: 1.5rem; overflow: hidden; }
.result-wrap .text { height: 0.48rem; line-height: 0.48rem; font-size: 0.26rem; font-weight: 400; color: #ff5a00; text-align: center; }
.result-wrap .more { margin-bottom: 0.3rem; line-height: 0.24rem; font-size: 0.16rem; color: #666; text-align: center; }

.load-fail-img { width: 0.9rem; height: 0.9rem; margin: 1rem auto 0.3rem; text-align: center; }

.load-fail-text { font-size: 0.14rem; text-align: center; line-height: 0.22rem; color: #333; }
